#name_category{
    margin-top: 20px;
}
#link_add_pole {
    text-align: right;
    width: 26.666667%;
    margin-bottom: 15px;
}
.icon_category{
    margin-bottom: 20px;
}
ul ul{
    min-height: 10px;
}
.detail-view th{
    width: 25%;
    text-align: right;
}
body{
    padding: 20px;
}
.col_r{
    text-align: right;
}
#product-grid_c2{
    width: 150px;
}
.clear{
    clear: both;
}
.toi *{
    margin: 5px 0;
}
#super_table td{
    border: 1px solid;
    width: 67px;
    padding: 10px;
    text-align: center;
}
.product_image{
    margin: 15px;
}
.for_image{
    float: left;
    position: relative;
}
.delete_image{
    position: absolute;
    color: #ff0000;
    top: 6px;
    left: 250px;
    font-size: 32px;
    display: none;
    cursor: pointer;
}

.dnone {display: none;}