@font-face {
    font-family: Taurus; /* Имя шрифта */
    src: url(/fonts/taurus.ttf); /* Путь к файлу со шрифтом */
}

.plus_margin{
    margin-bottom: 40px;
}
.my_row{
    display: table;
    content: " ";
    clear: both;
    width: 100%;
}
.bg_image{
    width: 50%;
    float: left;
}
.room1{
    background: url("/images/room1.jpg")  center no-repeat;
    background-size: cover;
}
.room2{
    background: url("/images/room2.jpg")  center no-repeat;
    background-size: cover;
    float: right;
    position: relative;
}

.my-12{
    color: #fff;
    width: 100%;
    height: 100%;
    position: relative;
}
.rooms{
    font-size: 30px;
}
.rectangle{
    margin-bottom: 30px;
}
.after_rooms{
    font-size: 18px;
    margin-bottom: 20px;
}
.description_rooms{
    font-size: 18px;
}
.rooms_padding{
    padding: 18% 9% 14% 30%;
    text-align: center;
}
.woman {
    padding-left: 9%;
    padding-right: 30%;
}
.blue{
    background-color: rgba(45,115,143,.9);
}
.pink{
    background-color: rgba(255,93,211,.9);
}
.clear{
    clear: both;
}
.my-3{
    width: 25%;
    float: left;

}
.my-9{
    width: 75%;
    float: left;
    position: relative;
}
.margin_top{
    margin-top: 30px;
}
.text_center{
    text-align: center;
}
.row{
    position: relative;
}
#room_woman{
    width: 100%;
    display: none;
    position: absolute;
    opacity: 0;
}
#room_man{
    width: 100%;
    display: none;
    position: absolute;
    opacity: 0;
}

.name_room{
    position: absolute;
    color: #fff;
    margin-left: 22%;
    margin-top: 1%;
    font-size: 36px;
    display: inline-block;
}
.another_room{
    color: #fff;
    text-decoration: none;
    font-size: 18px;
    padding: 1%;
    display: inline-block;
    background-image: -o-linear-gradient(left, #3b9ed0, #3eb5f1);
    background-image: -moz-linear-gradient(left, #3b9ed0, #3eb5f1);
    background-image: -webkit-linear-gradient(left, #3b9ed0, #3eb5f1);
    background-image: -ms-linear-gradient(left, #3b9ed0, #3eb5f1);
    background-image: linear-gradient(left, #3b9ed0, #3eb5f1);
}
.another_room:hover,
.another_room:focus{
    color: #fff;
    text-decoration: none;
}
.plus_room{
    width: 40px;
    height: 40px;
    display: none;
    opacity: 0;
}


