/* ------ Общие стили
-----------------------------------------------*/

body {
background:url(../gfx/bg.jpg) repeat;
font-family:Arial, Helvetica, sans-serif;
font-size:12px;
color:#666;
line-height:18px;
}

.wrapper {
width:1000px;
margin:100px auto 0;
}

ul.reset,
ul.reset li {
display:block;
list-style:none;
padding:0;
margin:0;
}

.blocks {
float:left;
width:100%;
margin-bottom:50px;
position:relative;
}

.blocks p {
float:left;
margin:0;
}

.blocks .search {
float:left;
width:258px;
height:42px;
line-height:42px;
padding:0 10px;
font-size:13px;
color:#8c8c8c;
background:url(../gfx/input.png) no-repeat;
border:none;
}

.blocks .btn {
float:left;
width:71px;
height:42px;
border:none;
text-indent:-9999px;
cursor:pointer;
background:url(../gfx/btn.png) no-repeat;
}

ul.autocomplete {
display:none;
width:300px;
padding:10px;
position:absolute;
top:50px;
left:0;
background:#fff;
border:1px solid #e4e4e4;
/* CSS3 */
-moz-border-radius:8px;
-webkit-border-radius:8px;
border-radius:8px;
}

ul.autocomplete li a {
display:block;
padding:5px 10px;
font-size:11px;
outline:none;
}

ul.autocomplete li a:hover {
background:#f5f5f5;
color:#991b22;
/* CSS3 */
-moz-border-radius:4px;
-webkit-border-radius:4px;
border-radius:4px;
}

.videos {
float:left;
clear:both;
width:100%;
min-height:200px;
}

.videos.preloader {
background:url(../gfx/loader.gif) no-repeat center;	
}

ul.videos li {
float:left;
width:300px;
padding:10px;
margin:0 5px 5px 0;
}

ul.videos li p {
margin:0;
padding:0;
}

.videos .image {
float:left;
width:120px;
height:90px;
font-size:0;
line-height:0;
padding:5px;
background:#fff;
border:1px solid #E6E6E6;
overflow:hidden;
}

.videos .entry {
float:right;
width:163px;	
font-weight:bold;
}

.videos .entry small {
display:block;
font-weight:normal;
color:#ACACAC;
}

a {
text-decoration:none;
color:#555;
}

a img {
border:none;
}

