.woman_room{
    background: url("/images/room2.jpg") center no-repeat;
    background-size: cover;
    position: relative;
}
.man_room{
    background: url("/images/room1.jpg") center no-repeat;
    background-size: cover;
    position: relative;
}
.name_room{
    position: absolute;
    top:4%;
    left: 22%;
    font-size: 26px;
    color: #fff;
}
.another_room,
.another_room:hover,
.another_room:focus{
    font-size: 16px;
    padding: 10px;
    background: #3ca9e0;
    display: inline-block;
    color: #fff;
    outline: none;
}
.view{
    position: absolute;
    width: 300px;
    height: 352px;
    display: none;
}
.plus_room{
    cursor: pointer;
}
.st{
    float: left;
    width: 20px;
    height: 41px;
    background: url("/images/st_left.png") center no-repeat;
    margin-top: 25px;
}
.description_room{
    width: 280px;
    float: left;

}
.description_text{
    padding: 20px 10px 0 10px;
    background: #006886;
    color: #fff;
    font-size: 16px;
    height: 250px;
    border-bottom: 2px solid #195973;
}
.cross{
    float: right;
    position: absolute;
    background: url("/images/cross.png") center no-repeat #103240;

    width: 14px;
    height: 14px;
    cursor: pointer;
}
.after_description{
    padding: 10px 10px 0 10px;
    background: #006886;
    color: #fff;
    font-size: 16px;
    height: 32px;
}
.link_2,
.link_2:hover,
.link_2:focus{
    font-size: 16px;
    color: #fff;
    text-decoration: none;
    padding: 8px 16px 8px 16px;
    border: 1px solid #3eb5f1;
    margin: 10px;
    background: #3eb5f1;
}
.basket2,
.basket2:hover,
.basket2:focus{
    padding: 8px;
    margin-left: 30px;
    background: none;
}
.price{
    margin-bottom: 15px;
}