@font-face {
    font-family: Helveticaneuecyr-roma; /* Имя шрифта */
    src: url(/fonts/helveticaneuecyr-roman.otf); /* Путь к файлу со шрифтом */
}
@font-face {
    font-family: Helveticaneuecyr-bold; /* Имя шрифта */
    src: url(/fonts/helveticaneuecyr-bold.otf); /* Путь к файлу со шрифтом */
}
@font-face {
    font-family: Helveticaneuecyr-medium; /* Имя шрифта */
    src: url(/fonts/helveticaneuecyr-medium.otf); /* Путь к файлу со шрифтом */
}
@font-face {
    font-family: Helveticaneuecyr-light; /* Имя шрифта */
    src: url(/fonts/helveticaneuecyr-light.otf); /* Путь к файлу со шрифтом */
}
@font-face {
    font-family: Helveticaneuecyr-italic; /* Имя шрифта */
    src: url(/fonts/helveticaneuecyr-italic.otf); /* Путь к файлу со шрифтом */
}
@font-face {
    font-family: Taurus; /* Имя шрифта */
    src: url(/fonts/taurus.ttf); /* Путь к файлу со шрифтом */
}
.font_italic{
    font-family: Helveticaneuecyr-italic;
}
.lv_window_dark ,
.lv_button_top_close{
	right:49px!important;
}
.font_bold{
    font-family: Helveticaneuecyr-bold;
}
.font_medium{
    font-family: Helveticaneuecyr-medium;
}
.font_light{
    font-family: Helveticaneuecyr-light;
}
.color_white{
    color: #fff;
}
.font_size-20{
    font-size: 20px;
}
#logo_main{
    width: 310px;
    height: 110px;
    background: url("/images/logo.png") no-repeat;
    padding: 0px 0 0 102px;
}
#nSP{
    height: 360px;
    overflow: hidden;
    width: 290px;
    border: 1px solid #D7D7D7;
    border-radius: 9px;
    position: fixed;
    z-index: 100000;
    right: -249px;
    top: 55%;
    background: #fff;
}
.color_nSP{
    background: #1B6380;
    color: #fff;
    height: 40px;
    text-align: center;
    padding-top: 8px;
    transform: rotate(-90deg);
    position: absolute;
    top: 159px;
    width: 358px;
    right: 89px;
    cursor: pointer;
}
#addFoto,
#addFoto:hover,
#addFoto:focus{
    font-size: 14px;
    text-align: center;
    text-transform: uppercase;
    color: #fa824f;
    text-decoration: underline;
    outline: none;
}
.link_icon {
    margin: 11px;
    display: inline-block;
    padding: 5px;
}
.link_icon:hover{
    box-shadow: 0 0 5px #777;
}
#myModal{
    z-index: 999999999;
}
body{
    font-family: Helveticaneuecyr-roma;
    font-size: 18px;
    overflow: auto!important;
    padding-right: 0!important;
}
.my_container{
    width: 1000px;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    display: table;
    content: " ";
    clear: both;
}
.my-22{
    width: 22%;
    float: left;
    position: relative;
    min-height: 1px;
    min-width: 150px;
}
.my-61{
    width: 61%;
    float: left;
    position: relative;
    min-height: 1px;
    min-width: 150px;
}
.my-39{
    width: 39%;
    float: left;
    position: relative;
    min-height: 1px;
    min-width: 150px;
}
.my-18{
    width: 18%;
    float: left;
    position: relative;
    min-height: 1px;
    min-width: 150px;
}
.my-58{
    width: 58%;
    float: left;
    position: relative;
    min-height: 1px;
    min-width: 150px;
}
.my-70{
    width: 70%;
    float: left;
    position: relative;
    min-height: 1px;
    min-width: 150px;
}
.my-30 img:first-child{
    margin-top: 0;
}
.detail_product a,
.detail_product a:hover,
.detail_product a:focus{
    padding: 10px 14px 10px 14px;
    color: #fff;
    background: #1d6887;
    text-decoration: none;
    outline: none;
}
.my-30{
    width: 30%;
    float: left;
    position: relative;
    min-height: 1px;
    min-width: 150px;
}
.my-24{
    width: 24%;
    /*width: 230px;*/
    float: left;
    position: relative;
    min-height: 1px;
    min-width: 150px;
}
.link_comment,
.link_comment:hover,
.link_comment:focus{
    padding: 15px 35px;
    color: #fff;
    text-transform: uppercase;
    background-color: #1d6887;
    display: inline-block;
    text-decoration: none;
}


.slide1 img{
    width: 100%;
    height: 100%;
}
.my-36{
    width: 36%;
    float: left;
    position: relative;
    min-height: 1px;
    min-width: 200px;
}
.my-37{
    width: 37%;
    float: left;
    position: relative;
    min-height: 1px;
    min-width: 200px;
}
.my-87{
    width: 87%;
    float: left;
    position: relative;
    min-height: 1px;
    min-width: 250px;
}
.my-13{
    width: 13%;
    float: left;
    position: relative;
    min-height: 1px;
    min-width: 30px;
}
.margin_top-20{
    margin-top: 20px;
}
.row{
    margin-left: 0;
    margin-right: 0;
}
.form,
form,
.form input{
    display: table;
    width: 100%;

}
.my-13 input{

    background: url("/images/lupe3.png") -7px -12px no-repeat #2883A8;
    border: none;
    padding: 7px;
}
.my-36{
    width: 36%;
    float: left;
    position: relative;
    min-height: 1px;
    min-width: 50px;
}
.my-49{
    width: 49%;
    float: left;
    position: relative;
    min-height: 1px;
    min-width: 50px;
}
.my-50{
    width: 50%;
    float: left;
    position: relative;
    min-height: 1px;
    min-width: 50px;
}
input{
    padding: 5px;
    outline: none;
}
.margin_left-38{
    margin-left: 38px;
}
.orange_phone{
    text-align: center;
    background-color: #fa824f;
    height: 45px;
    color: #fff;
    width: 100%;
}
.orange_phone td{
    vertical-align: middle !important;
}
#main_menu{
    display: table;
    margin-bottom: 0;
    float: left;
}
#main_menu li:first-child{
    margin-left: 0;
}
#main_menu li{
    list-style: none;
    float: left;
    padding: 18px 0;
    margin-left: 30px;
}
#main_menu li a{
    text-decoration: none;
    color: #fff;
}
#main_menu .active {
    border-bottom: 3px solid #359bed;
}

#main_menu2{
    display: table;
    margin-bottom: 0;
    float: left;
}
#main_menu2 li:first-child{
    margin-left: 0;
}
#main_menu2 li{
    list-style: none;
    float: left;
    padding: 18px 0;
    margin-left: 30px;
}
#main_menu2 li a{
    text-decoration: none;
    color: #fff;
}
.margin_top-78{
    background: url("/images/footer.png") center 0 no-repeat;
    height: 124px;
}
.footer_phone *{
    color: #fff;
}
.margin_left-83{
    margin-left: 83px;
}
.row_menu{
    background-color: #333333;
}
.special{
    margin-top: -5px;
    padding: 30px 20px 78px 20px;
}
.row_menu_header_fixed{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 100000;
}
.row_menu_header{
    background: #424242; /* Old browsers */
    background: -moz-linear-gradient(top, #424242 0%, #424242 7%, #555555 7%, #393939 15%, #242424 100%); /* FF3.6+ */
    background: -webkit-linear-gradient(top, #424242 0%,#424242 7%,#555555 7%,#393939 15%,#242424 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #424242 0%,#424242 7%,#555555 7%,#393939 15%,#242424 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #424242 0%,#424242 7%,#555555 7%,#393939 15%,#242424 100%); /* IE10+ */
    background: linear-gradient(to bottom, #424242 0%,#424242 7%,#555555 7%,#393939 15%,#242424 100%); /* W3C */
    box-shadow: 0 0 15px;
}
#main_menu_header li,
#main_menu_fixed li{
    float: left;
}
.last_a{
    border-right: 2px solid #151616!important;
    display: table!important;
}
.first_a{
    border-left: 2px solid #151616!important;
}
#main_menu_header a,
#main_menu_fixed a{
    display: block;
    padding: 13px 32px 11px 32px;
    border-left: 1px solid #151616;
    border-right: 1px solid #151616;
    text-decoration: none;
    color: #fff;
}

#main_menu_header a:hover,
#main_menu_fixed a:hover{
    background: linear-gradient(to bottom, #242424 0%,#242424 7%,#555555 7%,#393939 12%,#242424 12%,#414141 100%); /* W3C */
}
#basket{
    color: #fa824f;
    display: table;
    float: left;
    margin-right: 14px;
}
.float_left{
    float: left;
}
#basket_table{
    float: left;
    height: 45px;
}
#basket td{
    vertical-align: middle;
}
.img_for_basket{
    margin-top: 7px;
    margin-right: 6px;
}
.circle_basket{
    float: left;
    background: url("/images/elips.png") center center no-repeat;
    color: #d46308;
    padding: 3px 0px;
    font-size: 12px;
    margin-top: -8px;
    margin-left: 11px;
    text-align: center;
    width: 23px;
    height: 23px;
}
.margin_top-48{
    margin-top: 48px;
}
.bg_image_main{
    background: url("/images/blue_scrin.jpg") center center no-repeat;
}
.ul_color{
    position: absolute;
    z-index: 1;
    display: none;
    left: 87px;

}
.sps a,
.sps a:hover,
.sps a:focus{
    color: #fff;
    text-decoration: none;
}
.sps{
    float: left;
    padding: 5px 10px;
    background: #fa824f;
}
.sp{
    padding: 5px 10px;
    width: 100px;
    text-align: center;
    color: #fff;
    background: #1d6887;
}
#my_drop_down{
    float: left;
    margin-top: 11px;
    width: 287px;
    margin-left: 46px;
    padding: 8px;
    border: 1px solid #a6a6a6;
    cursor: pointer;
}
#down_img{
    position: absolute;
    left: 340px;
    top: 30px;
}
.ul_color li:last-child{
    border-bottom: 1px solid #a6a6a6;
}
.ul_color li{
    background: #fff;
    border-left:1px solid #a6a6a6;
    border-right:1px solid #a6a6a6;
    border-bottom: 1px solid #e2e2e2;

    cursor: pointer;
    padding: 8px;
    width: 287px;
}
.hidden_li{
    display: none;
    margin: 25px 0;
}

#free{
    font-size: 22px;
    color: #fff;
}
.margin_38_25{
    margin-top: 38px;
    margin-left: 25px;
}
#free_build{
    margin-top: -95px;
    margin-left: 60px;
}
.for_room{
    width: 55%;
    margin-left: 10px;
    float: left;
    color: #fff;
}
.for_room:hover{
    text-decoration: underline;
}
.margin-7-20-5-20{
    margin: -4px 20px 14px 20px;
}
.room_right{
    float: right;
    text-align: right;
    margin-right: 10px;
}
.my-24{
    width: 24%;
    float: left;
    position: relative;
    min-height: 1px;
    min-width: 50px;
}
.my-22_sps{
    float: left;
    position: relative;
    min-height: 1px;
    margin-top: 9px;
    margin-left: -25px;
    margin-right: 26px;
}
.my-78{
    width: 155px;
    float: left;
    position: relative;
    min-height: 1px;
}
#comment{
    background: url("/images/comment.png") center center no-repeat;
    width: 225px;
    height: 278px;
}
.slide_comment{
    width: 215px;
    float: left;
}
.clear{
    clear: both;
}
#comment_header{
    float: left;
    font-size: 18px;
    color: #fff;
}
#comment table{
    height: 39px;
}
#comment td{
    vertical-align: middle;
}
.comment_padding{
    padding: 0 24px;
}
.overview li{
    padding: 12px 6px 14px 6px!important;
    font-size: 16px;
}
.my-35{
    width: 35%;
    float: left;
    position: relative;
    min-height: 1px;
    min-width: 50px;
}
.my-69{
    width: 76%;
    float: left;
    position: relative;
    min-height: 1px;
    min-width: 50px;
}
.margin_right{
    margin-right: 47px;
}
.margin_right:last-child{
    margin-right: 0;
}
.font_size-30{
    font-size: 30px;
}
.my-30{
    width: 30%;
    float: left;
    position: relative;
    min-height: 1px;
    min-width: 50px;
}
.jopa,
.jopa:hover,
.jopa:focus{
    padding: 10px 15px;
    color: #fff;
    background: #1d6887;
    text-decoration: none;
}
.margin_top-140{
    margin-top: 110px;
}
input[type="radio"] { display:none; }
.control-label{
    display: none;
}
.radio label {
    display: inline-block;
    vertical-align: middle;
    margin: -1px 4px 0 0;
    background: url(/images/el.png) no-repeat 0 7px;
    padding-left: 25px;
    cursor: pointer;

}
.client_region .radio label{
    font-size: 24px;
    background: url(/images/el.png) no-repeat 0 13px;
}
input[type="radio"]:checked + label span {
    background: url(/images/el.png) no-repeat -20px 0;
}
.button_client{
    font-size: 30px;
    color: #fff;
    background: #1d6887;
    border: none;
    padding: 10px;
}
.my-60-ml-10{
    width: 60%;
    float: left;
    position: relative;
    min-height: 1px;
    min-width: 50px;
    font-family: Taurus;
    font-size: 16px;
    margin-left: 10px;
}
.header_popular{
    height: 40px;
    background-color: #1B6380;
    border-radius: 9px 9px 0 0;
}
#popular table{
    height: 40px;
}
#popular td{
    vertical-align: middle;
}
#popular .comment_padding{
    padding: 0px 23px;
}
#popular .viewport{
    border: 1px solid #d7d7d7;
    border-radius: 0 0 9px 9px;
}
#popular img{
	max-width: 170px;
	height: 120px;
	margin: 20px 2px 31px 0;
}
#popular li{
    text-align: center;
}
.popular_footer{
    height: 40px;
    width: 250px;
    margin-left: -6px;
    background-color: #fa824f;
}
.popular_footer table{
    width: 225px;
    text-align: center;
}
.popular_footer a{
    color: #fff;
    font-size: 18px;
}
.my-76{
    width: 76%;
    float: left;
    position: relative;
    min-height: 1px;
    min-width: 250px;
    padding-left: 60px;
}
.my-80{
    width: 80%;
    float: left;
    position: relative;
    min-height: 1px;
    min-width: 250px;
}
.under_line{
    font-size: 24px;
    border-bottom: 3px solid #1d6887;
}
#slider3 img{
    width: 170px;
    height: 115px;
}
.category_slider_name{
    margin-top: 20px;
    font-size: 18px;
}
#slider3 a{
    color: #000;
}
#slider3 .comment_padding:first-child{
    padding: 0 0 0 10px;
}
#slider3 .comment_padding{
    padding: 0 0 0 20px;
}
#add_basket{
    width: 350px;
    height: 100px;
    text-align: center;
    border: 2px solid #1d6887;
    position: fixed;
    z-index: 1000;
    background: #fff;
    font-size: 32px;
    display: none;
    padding-top: 22px;
}
#next_order{
    display: inline-block;
    background: #f82626;
    padding: 15px;
    color: #fff;
    cursor: pointer;
}
.delete_from_basket{
    padding: 10px;
    background: #d7d7d7;
    width: 181px;
    position: absolute;
    font-size: 18px;
    color: #949494;
    right: 0;
    bottom: -77px;
    cursor: pointer;
}
.kokoko{
    border-top: 1px solid #d7d7d7;
    padding-top: 40px;
    margin-bottom: 40px;

}
.my-100{
    width: 100%;
    float: left;
    position: relative;
    min-height: 1px;
    min-width: 50px;
}
.basket_count{
    width: 22px;
    height: 22px;
    background: #466981;
    position: absolute;
    right: 0;
    color: #fff;
    bottom: -24px;
    font-size: 16px;
    cursor: pointer;
}
.marginsp{
    margin-top: 50px;
    margin-left: 19px!important;
	display: none;
}
.bsl{
    left: 0;
}
.my-28{
    width: 28%;
    float: left;
    position: relative;
    min-height: 1px;
    min-width: 50px;
}
.my-11{
    width: 11%;
    float: left;
    position: relative;
    min-height: 1px;
    min-width: 50px;
}
.my-85{
    width: 85%;
    float: left;
    position: relative;
    min-height: 1px;
    min-width: 50px;
}
.my-87{
    width: 87%;
    float: left;
    position: relative;
    min-height: 1px;
    min-width: 50px;
}
.red_circle{
    height: 50px;
    width: 50px;
    border-radius: 25px;
    background: #f82626;
    color: #fff;
    padding-left: 16px;
    padding-top: 4px;
}
.contact_client{
    margin-top: 4px;
}
.contact_input{
    padding: 10px;
    border: 3px solid #1d6887;
    margin: 8px 0;
}
.contact_area,
.contact_area:focus{
    width: 100%!important;
    height: 130px;
    padding: 10px;
    border: 3px solid #1d6887;
    margin: 8px 0;
    outline: none;
}
.my-40{
    width: 40%;
    float: left;
    position: relative;
    min-height: 1px;
    min-width: 50px;
}
.my-60{
    width: 60%;
    float: left;
    position: relative;
    min-height: 1px;
    min-width: 50px;
}
.chose_parents{
    font-size: 24px;
    border-left: 6px solid #1d6887;
    padding-left: 13px;
}
.margin_top-40{
    margin-top: 40px;
}
.margin_top-30{
    margin-top: 30px;
}
.margin_top-58{
    margin-top: 58px;
}
.my-333{
    width: 33.333333%;
    float: left;
    position: relative;
    min-height: 1px;
    min-width: 50px;
    text-align: center;
}
.margin_top-28{
    margin-top: 28px;
}
.margin_top-28.font_bold{
    font-size: 24px;
}
#catalog_main{
    font-size: 18px;
    font-family: Taurus;
    list-style: none;
}
#catalog_main a{
    font-size: 18px;
    font-family: Helveticaneuecyr-roma;
    color: #000;
    text-decoration: none;
}
#catalog_main li{
    border-bottom: 1px solid #d7d7d7;
    padding: 11px 15px 11px 0;
}
.my-23{
    width: 23%;
    float: left;
    position: relative;
    min-height: 1px;
    min-width: 50px;
}
.my-77{
    width: 77%;
    float: left;
    position: relative;
    min-height: 1px;
    min-width: 50px;
}
.view_product{
    width: 221px;
    height: 254px;
    float: left;
}
.margin_left-25{
    margin-left: 25px;
}
.margin_left-15{
    margin-left: 15px;
}
.margin_left-32{
    margin-left: 32px;
}
.margin_left-21{
    margin-left: 21px;
}
.view_product img{
    width: 221px;
    height: 161px;
}
.view_product .table_name{
    height: 56px;
    width: 221px;
}
.view_product .table_name td{
    background: #1d6887;
    color: #fff;
    vertical-align: middle;
    padding: 0 10px;
}
.view_img{
    height: 161px;
    text-align: center;
}
.view_product .table_detail{
    height: 37px;
    width: 221px;
}
.table_detail td{
    vertical-align: middle;
    text-align: center;
    width: 110px;
    color: #fff;
}
.table_detail td a{
    color: #fff;
}
.table_price{
    background: #1d6887;
}
.table_link{
    background: #fa824f;
}
.my-27{
     width: 27%;
     float: left;
     position: relative;
     min-height: 1px;
     min-width: 50px;
 }
.my-24{
    /*width: 24%;*/
    width: 230px;
    float: left;
    position: relative;
    min-height: 1px;
    min-width: 50px;
}
.margin_left-22{
    margin-left: 22px;
}
.my-76_no_padding{
    /*width: 76%;*/
    width: 706px;
    float: left;
    position: relative;
    min-height: 1px;
    min-width: 50px;
    margin-left: 24px;
}
.my-73{
    width: 73%;
    float: left;
    position: relative;
    min-height: 1px;
    min-width: 50px;
}
.my-14{
    width: 14%;
    float: left;
    position: relative;
    min-height: 1px;
    min-width: 50px;
}
#comment_name{
    padding: 15px 15px 15px 40px;
    width: 100%;
    background: url("/images/user_comment.png") 13px no-repeat #e8e8e8;
    border: none;
    margin-bottom: 10px;
}
#comment_area,
#comment_area:focus{
    width: 100%;
    height: 150px;
    padding: 15px 15px 15px 40px;
    background: url("/images/coment_image.png") 13px 21px no-repeat #e8e8e8;
    border: none;
    margin-bottom: 10px;
    outline: none;
}
#comment_form_button{
    border: none;
    text-transform: uppercase;
    color: #fff;
    background-color: #fa824f;
    padding: 15px 35px;
    letter-spacing: 1px;
}
.my-86{
    width: 86%;
    float: left;
    position: relative;
    min-height: 1px;
    min-width: 50px;
}
.font_size-24{
    font-size: 24px;
}
.border_bottom-3{
    border-bottom: 3px solid #1d6887;
}
#connection_form_button{
    font-family: Helveticaneuecyr-bold!important;
    font-size: 24px!important;
    padding: 16px!important;
    color: #fff;
    background: #fa824f;
}
#slider4 img,
#slider6 img{
    width: 238px;
    height: 174px;
    border-radius: 9px;
}
.link_news{
    margin-top: 22px;
    text-align: left;
    width: 100%;
    display: block;
    font-size: 18px;
}
.font_size-22{
    font-size: 22px;
}
.font_size-18{
    font-size: 18px;
}
.margin_bottom-16{
    margin-bottom: 16px;
}
#slider4 .category_slider_name,
#slider6 .category_slider_name{
    text-align: left;
}
#slider4 .comment_padding,
#slider6 .comment_padding{
    padding: 0 0 0 18px;
}
.ui-dialog-titlebar.ui-widget-header.ui-corner-all.ui-helper-clearfix.ui-draggable-handle{
    display: none;
}
#quick-form input{
    width: 354px;
    height: 65px;
    padding: 24px;
    margin-bottom: 23px;
    border-radius: 9px;
    border: 1px solid #17536d;
}
#Connection_name{
    background: url("/images/name_connection.png") 306px center no-repeat #fff;
}
#Connection_phone{
    background: url("/images/connection_phone.png") 306px center no-repeat #fff;
}
#Connection_email{
    background: url("/images/connection_email.png") 306px center no-repeat #fff;
}
#quick-form{
    text-align: center;
}
#mydialog{
    border: none!important;
    background: #17536d!important;
}
.ui-widget-overlay{
    background: #000!important;
    opacity: 0.5!important;
}
.link_phone,
.link_phone:hover,
.link_phone:focus{
    text-decoration: underline;
    outline: none;
    color: #38c5ff;
}
.link_phone2,
.link_phone2:hover,
.link_phone2:focus{
    text-decoration: none;
    color: #fff;
    outline: none;
}
.my-47{
    width: 48%;
    float: left;
    position: relative;
    min-height: 1px;
    min-width: 50px;
}
.lpl img{
    width: 77px;
    height: 77px;
}
.items{
    display: table;
    width: 100%;
}
.page.selected a{
    background: #1d6887;
    color: #fff!important;
}
.page a{
    border: 2px solid #1d6887!important;
	color: #1d6887!important;
}
.page a{
    margin: 2px!important;
}
.summary{
    display: none;
}
.pagination>li>a,
.pagination>li>span{
    padding: 1px 7px;
}
ul li.next{
    background: none!important;
}
.next a,
.previous a{
    border: 2px solid #1d6887!important;
    border-radius: 0!important;
    background: url("/images/strelka.png") center center no-repeat;
    width: 28px;
    height: 31px;
    margin-top: 2px;
    margin-left: 1px!important;
}
.previous a{
    background: url("/images/strelka2.png") center center no-repeat;
}
#product{
    position: absolute;
    top: 400px;
}
#news{
    position: absolute;
    top: 400px;
}
.pluso-more{
    display: none!important;
}
.padding-14{
    padding: 14px;
}
.social_bar{
    margin-top: -23px;
    text-align: right;
}
.social_bar a{
    margin: 0 2px;
}
.say{
    float: left;
    margin-left: 464px;
    margin-top: -29px;
}
.margin_left-7{
    margin-left: 7px;
}
.news_img{
    width: 145px;
    height: 106px;
}
.description_news{
    margin-left: 4px;
}
.margin_bottom-18{
    margin-bottom: 18px;
}
.shadow_img{
    width: 100%;
    height: 100%;
    margin-top: -73%;
}
a:hover .shadow_img{
	background: url("/images/pluse_img.png") 90% 5% no-repeat;
	opacity: 0.9; 
}
.description_left,
.description_left:hover,
.description_left:focus{
    text-align: center;
    width: 100%;
    display: block;
    text-transform: uppercase;
    color: #fa824f;
    text-decoration: underline;
}
.pagination{
    margin: 0 0 0 2px!important;
}
.special_img img{
    width: 100%;
    height: 150px;
}
.margin_bottom-15{
    margin-bottom: 15px;
}
.margin_bottom-25{
    margin-bottom: 25px;
}
.all_news,
.all_news:hover,
.all_news:focus{
    padding: 15px 10px;
    display: inline-block;
    background: #fa824f;
    color: #fff;
    text-decoration: none;
    margin-top: 15px;
}
.sortable ul{
    display: none;
    margin-left: 20px;
}
#banner1{
    position: absolute;
    top:90%;
    left:3%;
}
#banner2{
    position: absolute;
    top:90%;
    right:3%;
}
.errorMessage{
    font-size: 16px;
    color: #F01414;
    margin-top: -20px;
}
#lsa img{
    margin-bottom: 5px;
    margin-right: 5px;
}
#lsa a{
    color: #fff;
}
#lst input{
    padding: 10px;
    border: 3px solid #1d6887;
    margin: 8px 0;
}
.msps .errorMessage{
    margin-top: 0;
}
#arch{
    background: url("/images/arch.jpg") 0 no-repeat;
}
#link_arch,
#link_arch:hover,
#link_arch:focus{
    color: #fa824f;
    text-decoration: none;
    outline: none;
}
.copy_l{
    position: absolute;
    color: #fff;
    bottom: 5px;
    font-size: 14px;
}
.pz{
    width: 71px!important;
    left: 10px!important;
    top: 45px!important;
    height: 94px!important;
    position: absolute;
}
.discount{
    top: 0;
    position: absolute;
    left: 81px;
    background: url('/images/discount_img.png') 0 0 no-repeat;
    color: #fff;
    text-shadow: 0 0 1px;
    padding-left: 12px;
    padding-top: 23px;
    height: 88px;
    width: 66px;
    font-size: 18px;
}
.dc{
    top: 56px;
    left: 176px;
}
.slidesjs-pagination-item a.active{
    background: #1d6887!important;
}
.act_img{
    width: 30px!important;
    height: 94px!important;
    position: absolute;
    top: 56px;
}
.adp{
    top: 0px;
    left: -585px;
}
.adpr{
    top: -292px;
    left: -255px;
}
.small_size{
    background-size: 60%;
    padding-left: 4px;
    padding-top: 12px;
    font-size: 13px;
    left: 108px;
}
.discount_room{
    top: -292px;
    position: absolute;
    left: 135px;
    background: url('/images/discount_img.png') 0 0 no-repeat;
    color: #fff;
    text-shadow: 0 0 1px;
    padding-left: 14px;
    padding-top: 23px;
    height: 88px;
    width: 66px;
}
.sortable img{
    cursor: pointer;
}
.md{
    top: 56px;
    left: 155px;
}
.op{
    left: -245px;
}
.ops{
    padding-left: 5px;
    padding-top: 23px;
    left: -529px;
}
.sldops{
    top: -159px;
    left: 147px;
    padding-left: 6px;
    padding-top: 23px;
}

.price_filter{
    font-size: 14px;
    float: left;
    outline: none;
    margin: 0 7px;
	width: 172px;
}
.name_filter{
    float: left;
    line-height: 39px;
    margin-right: 10px;
}
#submit_filter{
    border: none;
    line-height: 26px;
    padding: 3px 16px!important;
    color: #fff;
    background: #fa824f;
}
#filter_form{
    margin: 20px 0 20px 20px;
}
#productions{
    width: 193px;
    height: 32px;
    outline: none;
}

.margin_top-24 {margin-top: 24px;}

.header_line {width: 970px; margin: 0 auto; margin-top: 24px;}
.header_input_line {height: 41px;}

.search_inp {font-size: 16px; width: 296px; padding-left: 66px; color: #aaa; height: 41px; border: none; background: url('/images/search.png') 0 0 no-repeat; display: block; float: left;}

.search_butt {width: 78px; height: 41px; border: none; background: url('/images/search_butt_off.png') 0 0 no-repeat; display: block; float: left;}
.search_butt:hover {background: url('/images/search_butt_on.png') 0 0 no-repeat;}

.hide_search {display: none; font-size: 14px; width: 374px; position: absolute; z-index: 100; background: white; border-right: 1px solid #aaa; border-left: 1px solid #aaa; border-bottom: 1px solid #aaa;}
.hide_search a {display: block; border-top: 1px solid #aaa; padding: 5px 10px; text-decoration: none; color: #aaa;}
.hide_search a:hover {background: #aaa; color: #f6f6f6;}
.hide_search div {padding: 5px 10px; color: #aaa;}
    
/* Селекты */
.width172 {width: 172px;}
.width170 {width: 170px;}

.select_style_city {background: url("/images/select_city_arrow.png") no-repeat right;}
.select_style_st {background: url("/images/select_arrow.png") no-repeat right; background-color: #f8f8f8;}

.select_select_city {padding-right: 29px;}
.select_select_st {padding-right: 25px;}

.select_style {
    border: 1px solid #dfdfdf;
    height: 23px;
    overflow: hidden;
    display: inline-block;
}

.select_select {
    border: none;
    height: 21px;
    box-shadow: none;
    background: transparent;
    background-image: none;
    -webkit-appearance: none;
    outline: none;
}

.select_select:focus {
    outline: none;
}

/* Страница Вверх */
.page_up {position: fixed; bottom: 50px; z-index: 90; margin-left: 100px;}

/* Хлебные крошки и Выбор города */
.bread_div, .city_div {float: left; font-size: 16px; line-height: 23px; height: 23px;}
.bread_div {width: 600px;  color: #aaaaaa;}
.city_div {width: 370px; text-align: right; color: #dfdfdf;}
.city_div_1 {width: 190px; float: left;}
.city_div_2 {width: 180px; text-align: right; float: left; height: 23px;}