/* Tiny Carousel */
#slider1, #slider2 {overflow:hidden; padding: 0 0 10px;width: 225px;   }
#slider1 .viewport, #slider2 .viewport{ float: left; width: 225px; height: 225px; overflow: hidden; position: relative; }
.prev{background: url("/images/slider_left.png") center center no-repeat;width: 12px;height: 14px;display: block;float: left}
.next{background: url("/images/slider_right.png")center center no-repeat;width: 12px;height: 14px;display: block;float: left}
#slider1 .disable, #slider2 .disable{ visibility: hidden; }
#slider1 .overview, #slider2 .overview { list-style: none; position: absolute; padding: 0; margin: 0; width: 240px; left: 0 top: 0; }
#slider1 .overview li, #slider2 .overview li{ float: left; margin: 0 20px 0 0; padding: 1px; height: 225px; width: 225px;}


#slider3 {overflow:hidden; padding: 0 0 10px;width: 669px;margin-top: 10px; }
#slider3 .viewport{ float: left; width: 669px; height: 210px; overflow: hidden; position: relative; }
#slider3 .prev, #slider4 .prev{background: url("/images/catalog_left.png") center center no-repeat;width: 22px;height: 22px;display: block;float: left}
#slider3 .next, #slider4 .next{background: url("/images/catalog_right.png")center center no-repeat;width: 22px;height: 22px;display: block;float: left}
#slider3 .disable{ visibility: hidden; }
#slider3 .overview{ list-style: none; position: absolute; padding: 0; margin: 0; width: 240px; left: 0 top: 0; }
#slider3 .overview li{ float: left; margin: 0 20px 0 0;   padding: 30px 6px 14px 6px!important; height: 210px; width: 210px;text-align: center;}


#slider4,
#slider6 {overflow:hidden; padding: 0 0 10px;width: 940px;margin-top: 10px; }
#slider4 .viewport,
#slider6 .viewport{ float: left; width: 940px; height: 465px; overflow: hidden; position: relative; }
#slider4 .prev,
#slider6 .prev{background: url("/images/catalog_left.png") center center no-repeat;width: 22px;height: 22px;display: block;float: left}
#slider4 .next,
#slider6 .next{background: url("/images/catalog_right.png")center center no-repeat;width: 22px;height: 22px;display: block;float: left}
#slider4 .disable,
#slider6 .disable{ visibility: hidden; }
#slider4 .overview,
#slider6 .overview{ list-style: none; position: absolute; padding: 0; margin: 0; width: 285px; left: 0 top: 0; }
#slider4 .overview li,
#slider6 .overview li{ float: left;   margin: 30px 17px 0 17px;  padding: 10px!important; height: 435px; width: 285px;text-align: center; border: 1px solid #d7d7d7; border-radius: 9px}


#slider5 {overflow:hidden; padding: 0 0 10px;width: 860px;margin-top: 10px;margin-left: 50px; }
#slider5 .viewport{ float: left; width: 860px; height: 222px; overflow: hidden; position: relative; }
#slider5 .prev{background: url("/images/strelka11.png") center center no-repeat;width: 32px;height: 22px;display: block;float: left}
#slider5 .next{background: url("/images/strelka10.png")center center no-repeat;width: 32px;height: 22px;display: block;float: left}
#slider5 .disable{ visibility: hidden; }
#slider5 .overview{ list-style: none; position: absolute; padding: 0; margin: 0; width: 272px; left: 0 top: 0; }
#slider5 .overview li{ float: left; margin: 0 20px 0 0;   padding: 30px 6px 14px 6px!important; height: 222px; width: 272px;text-align: center;}

#slider5 img{width: 256px; height: 193px; margin: 0 10px 0 10px}