@font-face {
    font-family: HelveticaNeueCyr-Roman; /* Имя шрифта */
    src: url(fonts/HelveticaNeueCyr-Roman.otf); /* Путь к файлу со шрифтом */
}

@font-face {
    font-family: HelveticaNeueCyr-Black; /* Имя шрифта */
    src: url(fonts/HelveticaNeueCyr-Black.otf); /* Путь к файлу со шрифтом */
}

@font-face {
    font-family: HelveticaNeueCyr-Italic; /* Имя шрифта */
    src: url(fonts/HelveticaNeueCyr-Italic.otf); /* Путь к файлу со шрифтом */
}

@font-face {
    font-family: slick;
    src: url(fonts/slick.ttf);
}

.container {
    width: 960px;
    position: relative;
    margin: 0 auto;
}

body {
    line-height: normal;
    font-family: "HelveticaNeueCyr-Roman";
    background: white;
    min-width: 1100px;
}

textarea {
    font-family: "HelveticaNeueCyr-Roman";
}

/*фикс*/
.clear-fix:before, .clear-fix:after {
    content: " ";
    display: table;
}

.clear-fix:after {
    clear: both;
}

/*------------------- Header Start -----------------*/
#header {
    background: #2b2b2b;
    height: 110px;
    width: 100%;
    position: relative;
    border-top: 1px solid #212121;
}

#header_logo {
    background: url("/images/header_logo.png");
    width: 312px;
    height: 90px;
    display: inline-block;
    position: relative;
    margin-top: 13px;
    float: left;
}

#header_contacts {
    height: 110px;
    margin-left: 111px;
    color: #FFF;
    font-family: "HelveticaNeueCyr-Roman";
    font-size: 16px;
    margin-top: 14px;
    position: relative;
    float: left;
}

#header_phone {
    margin-top: 13px;
}

#header_car {
    margin-top: 13px;
}

#header_addr > img {
    position: absolute;
    margin-left: -45px;
    margin-top: -5px;
    display: block;
}

#header_car > img {
    position: absolute;
    margin-left: -45px;
    margin-top: 2px;
    display: block;
}

#header_phone > img {
    position: absolute;
    margin-left: -45px;
    margin-top: 0px;
    display: block;
}

#header_contacts_right {
    height: 110px;
    margin-left: 77px;
    color: #FFF;
    font-family: "HelveticaNeueCyr-Roman";
    font-size: 16px;
    margin-top: 14px;
    position: relative;
    float: left;
}

#header_phone_right > img {
    position: absolute;
    margin-left: -32px;
    margin-top: -2px;
    display: block;
}

#header_phone_2 {
    margin-top: 13px;
}

#header_call_back {
    display: block;
    margin-top: 13px;
    text-decoration: underline;
    color: #FFF;
    font-family: "HelveticaNeueCyr-Roman";
    font-size: 16px;
}

/*------------------- Header End -----------------*/

/*------------------- Menu Start -----------------*/
#header_menu {
    background: linear-gradient(to bottom, #424242 0%, #424242 7%, #555555 7%, #393939 15%, #242424 100%);
}

.menu_table {
    width: 960px;
    position: relative;
    margin: 0 auto;
    display: block;
}

#header_menu li {
    float: left;
    margin-top: 3px;
}

#main_menu_header {
    border-left: 2px solid #151616;
    height: 47px;
}

#main_menu_header a {
    color: #FFF;
    font-family: "HelveticaNeueCyr-Roman";
    font-size: 16px;
    /*padding: 17px 32px 13px 32px;*/
    /*border-left: 1px solid #151616;*/
    border-right: 2px solid #151616;
    text-decoration: none;
}

#main_menu_header a:hover {
    background: linear-gradient(to bottom, #242424 0%, #242424 7%, #555555 7%, #393939 12%, #242424 12%, #414141 100%);
}

#main_menu_header li:nth-child(1) a {
    padding: 17px 26px 13px 27px;
}

#main_menu_header li:nth-child(2) a {
    padding: 17px 27px 13px 27px;
}

#main_menu_header li:nth-child(3) a {
    padding: 17px 23px 13px 22px;
}

#main_menu_header li:nth-child(4) a {
    padding: 17px 16px 13px 16px;
}

#main_menu_header li:nth-child(5) a {
    padding: 17px 16px 13px 16px;
}

#main_menu_header li:nth-child(6) a {
    padding: 17px 18px 12px 17px;
}

#main_menu_header li:nth-child(7) a {
    padding: 17px 111px 12px 19px;
    color: #FF7500;
}



#menu_cart {
    position: absolute;
    margin: -2px 0 0 15px;
}

#menu_count {
    background: url("/images/menu_count.png");
    width: 23px;
    height: 20px;
    position: absolute;
    top: 15px;
    right: 27px;
    text-align: center;
    color: #FF7500;
    font-size: 13px;
    font-weight: 500;
    padding-top: 3px;
}

/*------------------- Menu End -----------------*/
/*------------------- fixed Menu Start -----------------*/
.to_top {
    position: fixed;
    top: 0px;
}

#header_menu_2 {
    background: linear-gradient(to top, #252525 0%, #282828 25%, #2b2b2b 40%, #323232 60%, #393939 75%, #424242 100%);
    width: 100%;
    display: none;
    z-index: 4;
    -webkit-box-shadow: 0px 1px 25px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 1px 25px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 1px 25px 0px rgba(0,0,0,0.75);
}

.menu_table_2 {
    width: 960px;
    position: relative;
    margin: 0 auto;
    display: block;
}

#header_menu_2 li {
    float: left;
    margin-top: 12px;
}

#main_menu_header_2 {
    border-left: 2px solid #151616;
    /*border-right: 2px solid #151616;*/
    height: 41px;
}

#main_menu_header_2 a {
    color: #FFF;
    font-family: "HelveticaNeueCyr-Roman";
    font-size: 16px;
    /*padding: 17px 32px 13px 32px;*/
    /*border-left: 1px solid #151616;*/
    border-right: 2px solid #151616;
    text-decoration: none;
}

#main_menu_header_2 a:hover {
    background: linear-gradient(to top, #424242 0%, #393939 25%, #323232 40%, #2b2b2b 60%, #282828 75%, #252525 100%);
}

#main_menu_header_2 li:nth-child(1) a {
    padding: 12px 17px 11px 15px;
}

#main_menu_header_2 li:nth-child(2) a {
    padding: 12px 19px 11px 18px;
}

#main_menu_header_2 li:nth-child(3) a {
    padding: 12px 64px 11px 67px;
    color: #27b13e;
}

#main_menu_header_2 li:nth-child(3) a img {
    position: absolute;
    margin-left: -40px;
}

#main_menu_header_2 li:nth-child(4) a {
    padding: 12px 17px 11px 17px;
}

#main_menu_header_2 li:nth-child(5) a {
    padding: 12px 104px 11px 26px;
    color: #FF7500;
}

#menu_cart_2 {
    position: absolute;
    margin: -2px 0 0 15px;
}

#menu_count_2 {
    background: url("/images/menu_count.png");
    width: 23px;
    height: 20px;
    position: absolute;
    top: 10px;
    right: 20px;
    text-align: center;
    color: #FF7500;
    font-size: 13px;
    font-weight: 500;
    padding-top: 4px;
}

/*------------------- fixed Menu End -----------------*/
/*------------------- Category_dropdown Start -----------------*/
.open_drop_2 .category_drop {
    top: 41px;
}

.category_drop {
    display: none;
    width: 960px;
    height: 318px;
    z-index: 2;
    left: 0;
    top: 47px;
    position: absolute;
    background-color: #ffffff;
    border-bottom: 6px solid #ff834b;
    box-shadow: 0px 3px 16px 0px rgba(0, 0, 0, 0.64);
}

.category_drop_mini_box {
    width: 160px;
    position: relative;
    float: left;
    height: 318px;
}
.category_drop_mini_box img{
    position: absolute;
    width: 361px;
    height: 238px;
    right: 0;
    bottom: 0;
}

.category_drop_catalog_title {
    color: #465CD5 !important;
    font-size: 14px !important;
    margin-bottom: 11px;
    margin-top: 24px;
    margin-left: 34px;
    display: block;
    padding: 0 !important;
    border: none !important;
    text-decoration: none !important;
}

.category_drop_catalog_title:hover {
    color: #27b13e !important;
    text-decoration: underline;
    background: none !important;
}

.category_drop_catalog_position a {
    color: #465CD5 !important;
    font-size: 12px !important;
    margin-left: 34px;
    line-height: 18px;
    display: block;
    padding: 0 !important;
    border: none !important;
    text-decoration: none !important;
}

.category_drop_catalog_position a:hover {
    color: #27b13e !important;
    text-decoration: underline;
    background: none !important;
}

.banner_drop {
    width: 100%;
    margin-top: 20px;
    margin-left: -9px;
}

.banner_drop_button {
    position: absolute;
    bottom: 34px;
    margin: 0 auto;
    right: 0;
    left: -17px;
}

/*------------------- Category_dropdown End -----------------*/
/*------------------- drop_count Start -----------------*/
#main_menu_header_2 .drop_count {
    top: 41px;
}

.drop_count {
    display: none;
    width: 199px;
    height: 91px;
    position: absolute;
    border-radius: 0 0px 10px 10px;
    -webkit-box-shadow: 0px 3px 15px 1px rgba(0, 0, 0, 0.6);
    -moz-box-shadow: 0px 3px 15px 1px rgba(0, 0, 0, 0.6);
    box-shadow: 0px 3px 15px 1px rgba(0, 0, 0, 0.6);
    background: url("/images/drop_count_top.png");
    z-index: 4;
    top: 47px;
    right: 0;
}

.drop_count_top {
    width: 199px;
    height: 57px;
    border-bottom: 1px solid #2b3a8f;
    position: relative;
}

.drop_count_top_close {
    width: 10px;
    height: 2px;
    position: absolute;
    top: 6px;
    right: 6px;
    background-color: white;
    cursor: pointer;
}

.drop_count_top_count {
    margin-top: 16px;
    margin-left: 13px;
    color: #FFF;
    font-size: 16px;
}

.drop_count_bot {
    background: url("/images/button_top_count.png") 0 0;
    width: 199px;
    height: 33px;
    cursor: pointer;
}

.drop_count_bot:hover {
    background-position: 0 -33px;
}

/*------------------- drop_count End -----------------*/
/*------------------- Search and City Start -----------------*/
.search_and_city {
    height: 50px;
}

.search_input {
    font-size: 16px;
    width: 270px;
    padding-left: 62px;
    color: #aaa;
    height: 24px;
    border: none;
    background: url('/images/search_img.png') 0 0 no-repeat;
    display: block;
    float: left;
    margin: 14px 0 0 -2px;
    outline: none;
}

.search_button {
    width: 94px;
    height: 29px;
    border: none;
    background: url('/images/button_search.png') 0 0;
    display: block;
    float: left;
    margin-top: 11px;
    display: none;
}

.search_button:hover {
    background-position: 0 -29px;
}

.change_city {
    float: right;
    margin-top: 10px;
    width: 190px;
    height: 30px;
}

.select_city_box {
    float: right;
    height: 30px;
    margin-top: 10px;
}

#city {
    height: 30px;
}

.select {
    position: absolute;
    width: 158px;
    height: 20px;
    padding: 10px 24px 0 8px;
    color: #AAA;
    font-size: 16px;
    background: url("/images/city_selector.png") 0 0 no-repeat;
    overflow: hidden;
}

/*------------------- Search and City End -----------------*/

/*------------------- Main Slider Start -----------------*/
.main_slider {
    width: 100%;
    height: 369px;
    overflow: hidden;
}

.top_slider_slide {
    width: 1920px;
    height: 369px;
    position: relative;
}

.top_slider ul {
    display: block;
    bottom: 10px;
}

.top_slider ul.slick-dots li button:before {
    font-family: 'slick';
    font-size: 16px;
    width: 20px;
    height: 20px;
    opacity: 1;
    color: #f3f4f8;
}

.top_slider ul.slick-dots li.slick-active button:before {
    opacity: 1;
    color: #27b13e;
}

.slide_block {
    width: 340px;
    height: 369px;
    position: relative;
    float: left;
}
.wtf{
    width: 324px;
    height: 268px;
    background: url("/images/main_banner_wtf.png");
    position: absolute;
    top:55px;
    left: -2px;
}
.slide_text_block_top {
    margin-top: 52px;
    color: #FFF;
    font-size: 18px;
    font-weight: 700;
    font-family: HelveticaNeueCyr-Black;
}

.slide_text_block_top span {
    font-size: 24px;
    font-weight: 900;
    text-transform: uppercase;
    margin-bottom: 9px;
    display: block;
}

.slide_text_line {
    width: 321px;
    height: 1px;
    background: #FFFFFF;
    margin-top: 13px;
}

.slide_text_bottom {
    color: #FFF;
    font-size: 18px;
    font-weight: 700;
    margin-left: 66px;
    margin-top: 25px;
}

.slide_text_bottom img {
    position: absolute;
    margin: -10px 0 0 -67px;
}

#free_assembly {
    margin-top: 61px;
    float: left;
}

.button_want_present {
    background: url("/images/button_want_present.png")0 0;
    width: 198px;
    height: 38px;
    display: block;
    position: absolute;
    margin: 0 auto;
    left: 0;
    right: 0;
    top: 259px;
}
.button_want_present:hover{
    background-position: 0 -38px;
}

.service_man {
    margin: 18px 0 0 57px;
    float: left;
}

/*------------------- Main Slider End -----------------*/
/*------------------- Promo Start -----------------*/
.promo_bgr {
    background: #f3f4f8;
    width: 100%;
}

.promo_box {
    margin-top: 37px;
    float: left;
    position: relative;
}

.promo_box:nth-child(last) {
    margin-top: 37px;
    float: left;
}

.promo_bgr .promo_box:nth-child(odd) img {
    margin-right: 22px;
}

.button_detail {
    background: url("/images/button_detail.png") 0 0;
    width: 159px;
    height: 38px;
    cursor: pointer;
}

.button_detail:hover, .button_detail:active {
    background-position: 0 -38px;
}

.promo_button_1 {
    position: absolute;
    top: 208px;
    left: 207px;
}

.promo_button_2 {
    position: absolute;
    top: 208px;
    left: 22px;
}

.promo_button_3 {
    position: absolute;
    top: 220px;
    left: 187px;
}

.promo_button_4 {
    position: absolute;
    top: 220px;
    left: 155px;
}

.container > div.promo_box:last-child {
    margin-bottom: 37px;
}

/*------------------- Promo End -----------------*/
/*------------------- Modal Start -----------------*/
.main_modal {
    background: url("/images/modal_1.jpg");
    width: 534px;
    height: 283px;
    position: relative;
}

.main_modal_close {
    background: url("/images/modal_close.png");
    width: 31px;
    height: 31px;
    position: absolute;
    top: -15px;
    right: -15px;
    cursor: pointer;
}

.main_modal_title {
    margin-top: 90px;
    font-family: HelveticaNeueCyr-Black;
    font-size: 24px;
    color: #FFFFFF;
    text-align: center;
}

.main_modal_description {
    margin-top: 18px;
    font-size: 16px;
    color: #FFFFFF;
    text-align: center;
}

.main_modal_button {
    background: url("/images/button_main_modal.png")0 0;
    width: 214px;
    height: 38px;
    margin: 0 auto;
    margin-top: 10px;
    cursor: pointer;
}
.main_modal_button:hover{
    background-position: 0 -38px;
}

.button_go_to_buy{
    background: url("/images/button_go_to_buy.png") no-repeat;
    width: 216px;
    height: 38px;
    margin: 0 auto;
    position: relative;
    margin-top: 10px;
    cursor: pointer;
}
.button_go_to_buy:hover{
    background-position: 0 -38px;
}

.phone_modal{
    background: #ffffff;
    width: 590px;
    height: 499px;
    position: relative;
}
.phone_modal_close {
    background: url("/images/modal_close.png");
    width: 31px;
    height: 31px;
    position: absolute;
    top: 8px;
    right: 8px;
    cursor: pointer;
}
.phone_form {
    position: relative;
    width: 478px;
    margin: 0 auto;
    margin-top: 28px;
}
.phone_submit {
    background: url("/images/phone_send.png")0 0;
    width: 475px;
    height: 50px;
    border: none;
    display: block;
    position: relative;
    margin: 0 auto;
    margin-top: 18px;
    cursor: pointer;
}
.phone_submit:hover{
    background-position: 0 -50px;
}
.warning3{
    margin-top: 66px;
    font-size: 18px;
    color: #000;
    text-align: center;
    position: absolute;
}
.warning3 span{
    color: #E62D2D;
}
.phone_modal_title{
    color: #000;
    font-size: 18px;
    font-weight: 700;
    text-transform: uppercase;
    margin: 0 auto;
    margin-top: 50px;
    margin-bottom: 30px;
    text-align: center;
}
.phone_modal_under_title{
    color: #000;
    font-size: 16px;
    font-weight: 700;
    text-align: center;
}
.smile_women{
    background: url("/images/smile_women.png");
    width: 172px;
    height: 211px;
    margin: 0 auto;
    margin-top: 63px;
    margin-bottom: 45px;
}
.smile_text{
    text-align: center;
    color: #000;
    font-size: 18px;
    font-weight: 700;
    text-transform: uppercase;
}
.box-modal {
    position: relative;
    /* width: 960px; NSV */
    background: #fff;
    /* min-height: 1000px; */
}
.big_box_close{
    background: url("/images/big_box_close.png")0 0;
    width: 100px;
    height: 17px;
    position: absolute;
    top:16px;
    right: 16px;
    cursor: pointer;
}
.big_box_close:hover{
    background-position: 0 -17px;
}
.big_box_go{
    background: url("/images/big_box_go.png")0 0;
    width: 206px;
    height: 28px;
    position: absolute;
    top:10px;
    right: 143px;
    cursor: pointer;
}
.big_box_go:hover{
    background-position: 0 -28px;
}
.big_title{
    color: #000;
    font-weight: 700;
    font-size: 24px;
    text-transform: uppercase;
    text-align: center;
    margin-top: 98px;
    margin-bottom: 18px;
}
.big_title_bot{
    color: #000;
    font-weight: 700;
    font-size: 18px;
    text-align: center;
}
.big_image{
    margin: 0 auto;
    margin-top: 48px;
    display: block;
}
.box_for_tk{
    width: 900px;
    position: relative;
    margin:0 auto;
    margin-top: 50px;
}
.tk_title{
    margin-top: 30px;
    color: #000;
    font-size: 18px;
    font-weight: 700;
    text-transform: uppercase;
}
.tk_descr{
    margin-top: 25px;
    color: #000;
    font-size: 16px;
}
.tk_line_box{
    width: 910px;
    border-top: 2px solid #aaaaaa;
    border-bottom: 2px solid #aaaaaa;
    height: 75px;
    padding: 22px 25px 4px 25px;
    color: #000;
    font-size: 18px;
    font-weight: 700;
    margin-top: 40px;
}
.tk_rus{
    display: block;
    float: left;
    margin: 23px 31px 31px 31px;
}
.tk_rus_text{
    display: block;
    float: left;
    margin: 42px 0 0 0;
    color: #000;
    font-size: 18px;
    font-weight: 700;
    text-transform: uppercase;
}
.big_city{
    color: #000;
    font-size: 16px;
    margin-left: 31px;
    float: left;
    margin-right: 29px;
    margin-bottom: 200px;
}
/*------------------- Modal End -----------------*/
/*------------------- Main Catalog Start -----------------*/
.main_catalog {
    width: 100%;
    background: white;
    position: relative;
}

.main_catalog_left {
    width: 221px;
    float: left;
    margin-top: 42px;
}

.main_catalog_right {
    width: 739px;
    float: right;
    margin-top: 19px;
    margin-bottom: 50px;
}


.catalog_furniture {
    width: 208px;
    height: 25px;
    background: #f3f4f8;
    border-bottom: 2px solid #d7d7d7;
    color: #000;
    padding: 11px 0 0 13px;
    font-size: 16px;
    font-weight: 700;
    text-transform: uppercase;
}

.left_catalog {
    width: 221px;
    color: #000;
    font-size: 16px;
    font-weight: 700;
    margin-bottom: 50px;
}

.left_catalog li {
    cursor: pointer;
    width: 221px;
    border-bottom: 1px solid #d7d7d7;
    /* display: block; */
    /* line-height: 0.9; */
    padding: 16px 0 16px 0;
    z-index: 3;
}

.left_catalog li:hover {
    background: #ededed;
}

.left_catalog > li span {
    margin: 5px 0 0 62px;
}

.left_catalog li img {
    position: absolute;
    margin: -7px 0 0 13px;
}

.left_catalog li:nth-child(4) img {
    margin: -2px 0 0 13px;
}

.left_catalog li:nth-child(6) img {
    margin: -2px 0 0 13px;
}

.left_catalog li:nth-child(9) img {
    margin: 2px 0 0 13px;
}

.left_catalog li:nth-child(10) img {
    margin: -2px 0 0 13px;
}

.left_catalog li:nth-child(11) img {
    margin: -2px 0 0 13px;
}

/*experimental ul li*/
.left_catalog li {
    position: relative;
    cursor: pointer;
}
.dn{
    display: none;
}
.inside {
    /*display: none;*/
    opacity: 0;
    position: absolute;
    top: 0px;
    left: 221px;
    height: 190px;
    /*min-width: 350px;*/
    background: #ededed;
    -webkit-box-shadow: 0px 13px 32px -1px rgba(0,0,0,0.58);
    -moz-box-shadow: 0px 13px 32px -1px rgba(0,0,0,0.58);
    box-shadow: 0px 13px 32px -1px rgba(0,0,0,0.58);
}

.inside img {
    float: right;
    margin: 0 !important;
}

.inside span {
    float: left;
    color: #000;
    font-size: 16px;
    width: 139px;
    height: 11px;
    font-weight: 700;
    border-style: solid;
    border-width: 0px 0px 1px;
    border-image: url("/images/furniture_line_inside.png") 0 0 27 fill repeat round;
    margin: 0px 0px 0px 00px !important;
    padding: 6px 0px 11px 0px;
    line-height: 1;
}

.furniture_category_box {
    width: 136px;
    height: 190px;
    float: left;
    padding-top: 4px;
    margin-left: 20px;
}

.left_catalog li:hover .inside {
    display: block;
    opacity: 1;
}
/*
.left_catalog li a {
    display: block;
    padding: 4px 8px;
    border-radius: 4px;
    color: #FFF;
    -webkit-transition: all .2s;
    -moz-transition: all .2s;
    -ms-transition: all .2s;
    -o-transition: all .2s;
    transition: all .2s;
}

.left_catalog li a:hover {
    display: block;
    background: #3CB7E7;
}
*/

.product_box {
    width: 222px;
    height: 317px;
    position: relative;
    border: 1px solid #d3d3d3;
    margin: 23px 0px 0 22px;
    float: left;
    outline: none;
}
.product_box:hover{
    -webkit-box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.4);
    -moz-box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.4);
    box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.4);
}
.product_image img {
    width: 222px;
    height: 166px;
}

a.product_image{
    position: relative;
    display: block;
}
.glaz{
    background: url('/images/glaz.png') center  center no-repeat;
    width: 32px;
    height: 22px;
    position:absolute;
    margin:auto;
    top:10px;
    right:10px;
    display: none;
}
a.product_image:hover .glaz{
    display: block;
}

.product_name {
    text-align: center;
    margin-top: 10px;
    color: #000;
    font-size: 16px;
    font-weight: 700;
}

.product_price {
    position: absolute;
    bottom: 74px;
    text-align: center;
    margin: 0 auto;
    right: 0;
    left: 0;
    color: #000;
    font-size: 16px;
    font-weight: 700;
}

.product_price span {
    color: #AE0000;
}

.product_line {
    width: 222px;
    border-bottom: 1px solid #d3d3d3;
    position: absolute;
    bottom: 57px;
}

.button_buy {
    position: absolute;
    margin: 0 auto;
    left: 0;
    right: 0;
    bottom: 10px;
    width: 159px;
    height: 38px;
    display: block;
    cursor: pointer;
    background: url("/images/button_buy.png") 0 0;
}

.button_buy:hover {
    background-position: 0 -38px;
}

.new {
    background: url("/images/new.png") 0 0 no-repeat;
    width: 144px;
    height: 145px;
    position: absolute;
    top: -17px;
    right: -17px;
}

.stock {
    background: url("/images/stock.png") 0 0 no-repeat;
    width: 161px;
    height: 56px;
    position: absolute;
    top: 113px;
    left: -16px;
    padding: 20px 0px 0 96px;
    color: #000;
    font-size: 16px;
    font-weight: 900;
}

.hit {
    background: url("/images/hit.png") 0 0 no-repeat;
    width: 204px;
    height: 56px;
    position: absolute;
    top: 113px;
    left: -16px;
}

/*------------------- Main Catalog End -----------------*/
/*------------------- Why_We Start -----------------*/
.why_we {
    width: 100%;
    height: 548px;
    overflow: hidden;
}

.why_we_bgr {
    background: url("/images/why_we.jpg");
    height: 548px;
    width: 1923px;
    position: absolute;
    margin-left: -480px;
    z-index: -1;
}

.why_we_box {
    width: 430px;
    float: right;
    margin-top: 35px;
}

.word_box {
    width: 380px;
    height: auto;
    padding: 25px;
    position: relative;
    float: left;
}

.angle_top {
    background: url("/images/angle_top.png");
    width: 43px;
    height: 44px;
    position: absolute;
    top: 0;
    left: 0;
}

.angle_down {
    background: url("/images/angle_down.png");
    width: 43px;
    height: 44px;
    position: absolute;
    bottom: 0;
    right: 0;
}

.why_we_word {
    text-align: right;
    color: #000;
    font-size: 24px;
    font-weight: 900;
    font-family: HelveticaNeueCyr-Black;
}

.why_we_title {
    color: #000;
    font-family: HelveticaNeueCyr-Roman;
    font-size: 16px;
    font-weight: 700;
    text-transform: uppercase;
    float: left;
    margin: 26px 0 0 42px;
}

.why_we_title img {
    position: absolute;
    margin: -3px 0 0 -40px;
}

.why_we_text {
    color: #000;
    font-family: HelveticaNeueCyr-Roman;
    font-size: 16px;
    font-weight: 700;
    float: left;
    margin: 7px 0 0 42px;
    line-height: 1.2;
}

/*------------------- Why_We End -----------------*/
/*------------------- Reviews Start -----------------*/
.reviews {
    background: #f3f4f8;
    width: 100%;
    height: 627px;
}

.reviews_word_box {
    width: 330px;
    height: auto;
    padding: 25px;
    position: absolute;
    right: 0;
    top: 58px;
}

.reviews_slider_box {
    width: 744px;
    height: 627px;
    position: relative;
    margin: 0 auto;
}

.reviews_slider {
    width: 744px;
    margin: 0 auto;
    position: relative;
    margin-top: 331px;
}

.review_box {
    text-align: center;
}

.review_name {
    color: #000;
    font-size: 18px;
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 9px;
}

.review_date {
    font-family: HelveticaNeueCyr-Italic;
    color: #000;
    font-size: 14px;
    margin-bottom: 15px;
}

.big_skoba {
    color: #000;
    font-size: 84px;
    margin-bottom: -37px;
}

.review_review {
    color: #000;
    font-size: 16px;
    line-height: 1.2;
}

.review_img {
    position: absolute;
    margin: 0 auto;
    left: 0;
    right: 0;
    top: 162px;
}

.reviews_slider button.slick-prev {
    background: url("/images/reviews_arrow.png") 0 0;
    width: 15px;
    width: 15px;
    height: 18px;
    transform: rotate(180deg);
    left: 219px;
    top: 10px;
    z-index: 1;
}

.reviews_slider button.slick-prev:hover {
    background-position: 16px 0;
}

.reviews_slider button.slick-prev:before {
    content: none;
}

.reviews_slider button.slick-next {
    background: url("/images/reviews_arrow.png") 0 0;
    width: 15px;
    height: 18px;
    right: 219px;
    top: 10px;
    z-index: 1;
}

.reviews_slider button.slick-next:hover {
    background-position: 16px 0;
}

.reviews_slider button.slick-next:before {
    content: none;
}

.review_box.slick-slide {
    outline: none;
}

/*------------------- Reviews End -----------------*/
/*------------------- Ledy (Статьи которые могут быть полезны) Start -----------------*/
.ledy {
    width: 100%;
    height: 1033px;
    overflow: hidden;
}

.ledy_bgr {
    background: url("/images/ledi.jpg");
    height: 1033px;
    width: 1923px;
    position: absolute;
    margin-left: -480px;
    z-index: -1;
}

.ledy_column_1 {
    width: 480px;
    height: 1033px;
    float: left;
    padding-top: 23px;
}

.ledy_column_2 {
    width: 430px;
    height: 1013px;
    float: left;
    padding-top: 23px;
    margin-left: 50px;
}

.ledy_box {
    padding: 3px;
    background: white;
    width: 480px;
    margin-top: 29px;
    float: left;
    text-align:center; /* nsv */
}

.ledy_box_right {
    padding: 3px;
    background: white;
    width: 430px;
    margin-top: 29px;
    float: left;
    text-align:center; /* nsv */
}

.ledy_box_text {
    padding: 42px 27px;
    width: 426px;
    text-align:left;  /* nsv */
}

.ledy_box_text_right {
    padding: 42px 27px;
    width: 376px;
    text-align:left;  /* nsv */
}

.ledy_box_title {
    color: #010101;
    font-size: 20px;
    font-weight: 700;
    display: block;
    margin-bottom: 55px;
    text-decoration: none;
}

.ledy_box_title:hover {
    color: #27b13e;
    text-decoration: underline;
}

.ledy_box_description {
    color: #000;
    font-size: 14px;
    margin-bottom: 55px;
}

.ledy_box_see {
    background: url("/images/button_detail.png") 0 0;
    width: 159px;
    height: 38px;
    cursor: pointer;
}

.ledy_box_see:hover, .ledy_box_see:active {
    background-position: 0 -38px;
}

.ledy_box_word {
    margin-top: 29px;
    float: left;
}

/*------------------- Ledy End -----------------*/
/*------------------- Footer Start -----------------*/
.footer {
    width: 100%;
    background: #333333;
    height: 399px;
    position: relative;
}

.footer_main_box_left {
    width: 615px;
    height: 345px;
    float: left;
    position: relative;
}

.footer_main_box_right {
    width: 291px;
    height: 345px;
    margin-left: 54px;
    float: left;
    position: relative;
}

.footer_main_box_bottom {
    width: 100%;
    height: 33px;
    border-top: 1px solid #696969;
    float: left;
    position: relative;
    padding-top: 21px;
    color: #FFF;
    font-size: 10px;
}

.footer_main_box_left_title {
    height: 33px;
    border-bottom: 1px solid #696969;
    text-align: left;
    padding-top: 32px;
    color: #FFF;
    font-size: 18px;
}

.footer_column {
    height: 280px;
    width: 153px;
    float: left;
}

.footer_catalog_title {
    color: #FFF;
    font-size: 14px;
    margin-bottom: 11px;
    margin-top: 24px;
    display: block;
    text-decoration: none;
}

.footer_catalog_title:hover {
    color: #27b13e;
    text-decoration: underline;
}

.footer_catalog_position a {
    color: #FFF;
    font-size: 12px;
    line-height: 18px;
    text-decoration: none;
    display: block;
}

.footer_catalog_position a:hover {
    color: #27b13e;
    text-decoration: underline;
}

.footer_main_box_right_top {
    width: 100%;
    padding-top: 33px;
    height: 207px;
    border-bottom: 1px solid #696969;
}

.footer_phone_top {
    color: #FFF;
    font-size: 24px;
    margin-left: 68px;
    margin-top: -5px;
}

.footer_phone_top > img {
    position: absolute;
    margin-left: -67px;
    margin-top: 4px;
    display: block;
}

.free_rf {
    color: #FFF;
    font-size: 18px;
    margin-left: 68px;
    line-height: 1.5;
}

.footer_phone_bottom {
    color: #FFF;
    font-size: 24px;
    margin-left: 68px;
    margin-top: 24px;
}

.button_call_back {
    background: url("/images/button_call_back.png");
    width: 224px;
    height: 48px;
    margin: 21px 0 0 68px;
    display: block;
}
.button_call_back:hover{
    background-position: 0 -48px;
}
.footer_map {
    color: #FFF;
    font-size: 24px;
    margin-left: 73px;
    margin-top: 20px;
}

.footer_map > img {
    position: absolute;
    margin-left: -72px;
    margin-top: 5px;
    display: block;
}

.footer_under_map {
    color: #FFF;
    font-size: 18px;
    margin-left: 73px;
    line-height: 1.5;
}

/*------------------- Footer End -----------------*/
/*+++++++++++++++++++ Delivery Start +++++++++++++++++++*/

/*+++++++++++++++++++ Breadcrumbs Start +++++++++++++++++++*/
.breadcrumbs_box {
    width: 100%;
    height: 44px;
    background: #FFFFFF;
}

.breadcrumbs {
    color: #AAA;
    font-size: 16px;
    margin-top: 14px;
}

/*+++++++++++++++++++ Breadcrumbs End +++++++++++++++++++*/
/*+++++++++++++++++++ search_and_city_2 Start +++++++++++++++++++*/

.search_and_city_2 {
    height: 56px;
}

.new_search_input {
    font-size: 16px;
    width: 233px;
    padding-left: 62px;
    color: #aaa;
    height: 37px;
    border: 1px solid #d3d3d3;
    /* background: url('/images/search_img.png') 0 0 no-repeat; */
    display: block;
    float: left;
    margin: 0 0 0 0px;
    outline: none;
    position: relative;
}

.img_new_search_input {
    background: url('/images/search_img.png') 0 0 no-repeat;
    width: 47px;
    height: 24px;
    position: absolute;
    margin: 9px 0 0 8px;
}

.new_search_button {
    width: 79px;
    height: 41px;
    border: none;
    display: block;
    float: left;
    background: #aaaaaa;
    color: #FFFFFF;
    font-size: 16px;
    cursor: pointer;
}

.new_search_button:hover {
    background: #27b13e;
    color: #F6F6F6;
}

.search_form {
    position: relative;
    display: block;
    float: left;
}

.new_search_input_2 {
    font-size: 16px;
    width: 290px;
    padding-left: 62px;
    color: #aaa;
    height: 42px;
    border: 1px solid #d3d3d3;
    /* background: url('/images/search_img.png') 0 0 no-repeat; */
    display: block;
    float: left;
    margin: 0 0 0px 0px;
    outline: none;
    position: relative;
}

.img_new_search_input_2 {
    background: url('/images/factory.png') 0 0 no-repeat;
    width: 47px;
    height: 24px;
    position: absolute;
    margin: 8px 0 0 8px;
}

.new_search_button_2 {
    width: 79px;
    height: 41px;
    border: none;
    display: block;
    float: left;
    background: #aaaaaa;
    color: #FFFFFF;
    font-size: 16px;
    cursor: pointer;
}

.new_search_button_2:hover {
    background: #27b13e;
    color: #F6F6F6;
}

.category_furniture {
    background: url("/images/category_furniture.png") 0 0 no-repeat;
    width: 204px;
    height: 41px;
    float: right;
    cursor: pointer;
    margin: 0 0 0 0;
}

/*+++++++++++++++++++ search_and_city_2 End +++++++++++++++++++*/

/*+++++++++++++++++++ logistic Start +++++++++++++++++++*/
.delivery_dlivery {
    width: 100%;
    overflow: hidden;
}

.delivery_dlivery_bgr {
    background: url("/images/delivery_delivery.jpg");
    width: 1922px;
    height: 366px;
    margin-left: -484px;
}

.logistic {
    height: 342px;
    width: 100%;
    background: #f3f4f8;
}

.logistic_box {
    width: 320px;
    float: left;
    height: 342px;
    text-align: center;
    color: #000;
    font-size: 16px;
    position: relative;
}

.logistic_img_1 {
    margin-top: 44px;
}

.logistic_img_2 {
    margin-top: 28px;
}

.logistic_img_3 {
    margin-top: 28px;
}

.logistic_name {
    font-weight: 700;
    text-transform: uppercase;
    position: absolute;
    margin: 0 auto;
    left: 0;
    right: 0;
    top: 108px;
}

.logistic_description {
    position: absolute;
    margin: 0 auto;
    left: 0;
    right: 0;
    top: 140px;
}

/*+++++++++++++++++++ logistic End +++++++++++++++++++*/
/*+++++++++++++++++++ Delivery_russia Start +++++++++++++++++++*/

.delivery_russia {
    width: 100%;
    height: 416px;
    text-align: center;
    overflow: hidden;
}

.delivery_russia_bgr {
    background: url("/images/delivery_russia.jpg");
    width: 1969px;
    height: 416px;
    position: absolute;
    z-index: -1;
    margin-left: -484px;
}

.delivery_russia_title {
    margin-top: 53px;
    color: #FFF;
    font-size: 24px;
    font-weight: 700;
}

.delivery_russia_description {
    color: #FFF;
    font-size: 16px;
    font-weight: 700;
    width: 766px;
    margin: 0 auto;
    margin-top: 39px;
}

.delivery_russia_button {
    background: url("/images/button_go_to_catalog.png") 0 0;
    width: 216px;
    height: 38px;
    margin: 0 auto;
    margin-top: 50px;
    cursor: pointer;
}

.delivery_russia_button:hover {
    background-position: 0 -38px;
}

/*+++++++++++++++++++ Delivery_russia End +++++++++++++++++++*/
/*+++++++++++++++++++ Delivery_red Start +++++++++++++++++++*/
.delivery_red {
    width: 100%;
    background: #f3f4f8;
    position: relative;
}

.kremlin_box {
    height: 209px;
    border-bottom: 2px solid #dcdcdc;
    position: relative;
}

.kremlin_box img {
    margin: 32px 25px 0 0;
    float: left;
}

.kremlin_title {
    margin-top: 41px;
    margin-bottom: 15px;
    color: #000;
    font-size: 16px;
    font-weight: 900;
    text-transform: uppercase;
    float: left;
    font-family: HelveticaNeueCyr-Black;
}

.kremlin_description {
    color: #000;
    font-size: 16px;
    font-weight: 700;
    text-transform: uppercase;
    line-height: 30px;
    float: left;
}

.kremlin_description span {
    text-transform: lowercase;
}

.kremlin_description_italic {
    color: #000;
    font-size: 16px;
    font-style: italic;
    float: left;
}

.russian_box {
    position: relative;
    height: 257px;
}

.russian_box img {
    margin: 41px 25px 50px 0;
    float: left;
}

.russian_description {
    color: #000;
    font-size: 16px;
    font-weight: 700;
    float: left;
}

/*+++++++++++++++++++ Delivery_red End +++++++++++++++++++*/
/*+++++++++++++++++++ big_red_car Start +++++++++++++++++++*/
.big_red_car {
    width: 100%;
    height: 307px;
    position: relative;
    overflow: hidden;
}

.big_red_car_bgr {
    width: 2011px;
    height: 307px;
    background: url("/images/big_red_car.jpg");
    position: absolute;
    margin-left: -520px;
    z-index: -1;
}

.big_red_car_title {
    color: #FFF;
    font-size: 24px;
    font-weight: 700;
    text-align: center;
    margin-top: 90px;
}

.big_red_car_button {
    background: url("/images/button_detail.png") 0 0;
    width: 159px;
    height: 38px;
    cursor: pointer;
    margin: 0 auto;
    margin-top: 51px;
}

.big_red_car_button:hover {
    background-position: 0 -38px;
}

/*+++++++++++++++++++ big_red_car End +++++++++++++++++++*/
/*+++++++++++++++++++ Delivery End +++++++++++++++++++*/

/*################### About_us Start ###################*/
/*################### About_us_family Start ###################*/
.about_us_family {
    width: 100%;
    height: 589px;
}

.about_us_family_bgr {
    background: url("/images/about_us_family.jpg") 0 0 no-repeat;
    height: 589px;
    width: 1027px;
    position: absolute;
    margin-left: -11px;
    z-index: -1;
}

.family_box {
    height: 589px;
}

.about_us_family_black_text {
    width: 743px;
    height: 50px;
    background-color: #000;
    font-size: 24px;
    text-transform: uppercase;
    color: #FFF;
    font-weight: 700;
    position: absolute;
    left: 0;
    bottom: 129px;
}

.about_us_family_black_text p {
    margin-top: 12px;
    margin-left: 22px;
}

.about_us_family_yellow_text {
    width: 823px;
    height: 50px;
    background-color: #FFF343;
    font-size: 24px;
    text-transform: uppercase;
    color: #000;
    font-weight: 900;
    position: absolute;
    left: 0;
    bottom: 83px;
    font-family: HelveticaNeueCyr-Black;
}

.about_us_family_yellow_text p {
    margin-top: 12px;
    margin-left: 22px;
}

/*################### About_us_family End ###################*/
/*################### About_us_balls Start ###################*/
.about_us_balls {
    width: 100%;
    height: 587px;
    overflow: hidden;
}

.about_us_balls_box {
    height: 587px;
    position: relative;
}

.about_us_balls_bgr {
    background: url("/images/about_us_balls.jpg") 0 0 no-repeat;
    height: 589px;
    width: 1948px;
    position: absolute;
    margin-left: -500px;
    z-index: -2;
}

.about_us_boys {
    background: url("/images/about_us_boys.png") 0 0 no-repeat;
    width: 549px;
    height: 544px;
    position: absolute;
    margin-left: 00px;
    top: -456px;
    left: -33px;
    z-index: 1;
}

.about_us_balls_text_box {
    width: 390px;
    float: right;
}

.corr {
    margin-left: -69px !important;
}

.corr_2 {
    margin-left: -77px !important;
}

.about_us_balls_text_box img {
    position: absolute;
    margin: 0px 0 0 -85px
}

.about_us_balls_title {
    margin-top: 39px;
    color: #F3F4F8;
    font-size: 16px;
    font-weight: 900;
    text-transform: uppercase;
    font-family: HelveticaNeueCyr-Black;
}

.about_us_balls_description {
    color: #F3F4F8;
    font-size: 16px;
    margin-top: 10px;
    line-height: 1.2;
}

/*################### About_us_balls End ###################*/
/*################### Clients_trust Start ###################*/
.clients_trust {
    width: 100%;
}

.clients_trust_box {
    height: 615px;
    position: relative;
}

.clients_trust_women {
    float: right;
    background: url("/images/about_us_women.jpg");
    width: 388px;
    height: 533px;
    position: absolute;
    right: 35px;
    bottom: 43px;
}

.clients_trust_title {
    margin-top: 189px;
    margin-bottom: 14px;
    color: #000;
    font-family: HelveticaNeueCyr-Black;
    font-size: 24px;
    font-weight: 900;
    text-transform: uppercase;
}

.clients_trust_description {
    color: #000;
    font-size: 16px;
    font-weight: 700;
    width: 515px;
    line-height: 21px;
}

.clients_trust_button {
    background: url("/images/button_go_to_catalog.png") 0 0;
    width: 216px;
    height: 38px;
    margin-top: 43px;
    cursor: pointer;
}

.clients_trust_button:hover {
    background-position: 0 -38px;
}

/*################### Clients_trust End ###################*/
/*################### Oculus Start ###################*/
.oculus {
    width: 100%;
    height: 376px;
    overflow: hidden;
}

.oculus_bgr {
    width: 1939px;
    height: 376px;
    background: url("/images/about_us_oculus.jpg");
    position: absolute;
    margin-left: -500px;
    z-index: -1;
}

.oculus_title {
    margin-top: 36px;
    margin-bottom: 31px;
    color: #FFF;
    font-family: HelveticaNeueCyr-Black;
    font-size: 24px;
    font-weight: 900;
    text-transform: uppercase;
}

.oculus_description {
    color: #FFF;
    font-family: HelveticaNeueCyr-Black;
    font-size: 18px;
    font-weight: 900;
    line-height: 30px;
}

.ml_10 {
    margin-left: 10px;
}

/*################### Oculus End ###################*/
/*################### About_us End ###################*/

/*=================== order Start ===================*/

.order {
    width: 100%;
    height: 348px;
    position: relative;
    overflow: hidden;
}

.order_bgr {
    background: url("/images/order_cart_bgr.jpg");
    width: 1926px;
    height: 348px;
    position: absolute;
    margin-left: -482px;
    z-index: -1;
}

.order_text_yellow {
    font-family: HelveticaNeueCyr-Black;
    font-size: 24px;
    font-weight: 900;
    text-transform: uppercase;
    color: #000;
    width: 563px;
    height: 31px;
    background-color: #FFF343;
    margin: 0 auto;
    margin-top: 64px;
}

.order_text_yellow p {
    margin-top: 2px;
    margin-left: 22px;
}

.order_text_black {
    font-family: HelveticaNeueCyr-Black;
    font-size: 24px;
    font-weight: 900;
    text-transform: uppercase;
    color: #FFF;
    width: 525px;
    height: 31px;
    background-color: #000;
    margin: 0 auto;
}

.order_text_black p {
    margin-top: 2px;
    margin-left: 22px;
}

.order_boxes {
    width: 100%;
    height: 927px;
    position: relative;
    background-color: #DDE6EF;
}

.boxes_mac {
    margin: 0 auto;
    left: 0;
    right: 0;
    position: absolute;
    background: url("/images/order_mac.png");
    width: 445px;
    height: 251px;
    margin-top: -193px;
    z-index: 1;
}

.boxes_line {
    margin: 0 auto;
    left: -42px;
    right: 0;
    position: absolute;
    background: url("/images/order_line.png");
    width: 218px;
    height: 892px;
    top: 40px;
    z-index: 0;
}

.boxes {
    margin: 0 auto;
    left: 0px;
    right: 0;
    position: absolute;
    background: url("/images/orders_boxes.png");
    width: 963px;
    height: 757px;
    top: 128px;
    z-index: 0;
}

.boxes_text_1 {
    color: #000;
    font-size: 16px;
    font-weight: 700;
    width: 276px;
    position: absolute;
    margin: 21px 0 0 59px;
    line-height: 1.2;
}

.boxes_text_2 {
    color: #000;
    font-size: 16px;
    font-weight: 700;
    width: 276px;
    position: absolute;
    margin: 287px 0 0 631px;
    line-height: 1.2;
}

.boxes_text_3 {
    color: #000;
    font-size: 16px;
    font-weight: 700;
    width: 276px;
    position: absolute;
    margin: 576px 0 0 59px;
    line-height: 1.2;
}

.boxes_text_uppercase_1 {
    color: #000;
    text-transform: uppercase;
    font-size: 16px;
    font-weight: 700;
    width: 276px;
    position: absolute;
    margin: 23px 0 0 634px;
    line-height: 1.2;
}

.boxes_text_4 {
    color: #000;
    font-size: 16px;
    font-weight: 700;
    width: 276px;
    position: absolute;
    margin: 53px 0 0 634px;
    line-height: 1.2;
}

.boxes_text_uppercase_2 {
    color: #000;
    text-transform: uppercase;
    font-size: 16px;
    font-weight: 700;
    width: 276px;
    position: absolute;
    margin: 292px 0 0 28px;
    line-height: 1.2;
}

.boxes_text_5 {
    color: #000;
    font-size: 16px;
    font-weight: 700;
    width: 276px;
    position: absolute;
    margin: 322px 0 0 29px;
    line-height: 1.2;
}

.boxes_text_uppercase_3 {
    color: #000;
    text-transform: uppercase;
    font-size: 16px;
    font-weight: 700;
    width: 276px;
    position: absolute;
    margin: 572px 0 0 634px;
    line-height: 1.2;
}

.boxes_text_6 {
    color: #000;
    font-size: 16px;
    font-weight: 700;
    width: 280px;
    position: absolute;
    margin: 602px 0 0 634px;
    line-height: 1.2;
}

.order_boy {
    width: 100%;
    height: 421px;
    overflow: hidden;
}

.order_boy_bgr {
    background: url("/images/orders_boy.jpg");
    width: 1920px;
    height: 421px;
    position: absolute;
    z-index: -1;
    margin-left: -500px;
}

.order_boy_button {
    background: url("/images/button_go_to_catalog.png") 0 0;
    width: 216px;
    height: 38px;
    margin-top: 43px;
    cursor: pointer;
    margin: 0 auto;
    position: absolute;
    left: 0;
    right: 0;
    top: 232px;
}

.order_boy_button:hover {
    background-position: 0 -38px;
}

.word_white_box {
    width: 380px;
    height: auto;
    padding: 25px;
    position: relative;
    float: left;
    margin: 0 auto;
    left: 0;
    right: 0;
    top: 82px;
    position: absolute;
}

.angle_white_top {
    background: url("/images/white_angle_top.png");
    width: 24px;
    height: 21px;
    position: absolute;
    top: 0;
    left: 0;
}

.angle_white_down {
    background: url("/images/white_angle_bot.png");
    width: 24px;
    height: 21px;
    position: absolute;
    bottom: 0;
    right: 0;
}

.white_word {
    text-align: center;
    color: #FFF;
    font-size: 24px;
    font-weight: 900;
    text-transform: uppercase;
    font-family: HelveticaNeueCyr-Black;
}

/*=================== order End ===================*/
/*@@@@@@@@@@@@@@@@@@@ News Start @@@@@@@@@@@@@@@@@@@*/

.news_top {
    width: 100%;
    height: 366px;
    overflow: hidden;
}

.news_top_bgr {
    background: url("/images/news_top.jpg");
    width: 1920px;
    height: 366px;
    position: absolute;
    margin-left: -480px;
    z-index: -1;
}

.news_top_yellow {
    font-family: HelveticaNeueCyr-Black;
    color: #000;
    font-size: 36px;
    font-weight: 900;
    text-transform: uppercase;
    width: 435px;
    height: 57px;
    background-color: #FFF343;
    margin: 0 auto;
    margin-top: 114px;
}

.news_top_yellow p {
    margin-top: 11px;
    margin-left: 22px;
}

.news_top_black {
    font-family: HelveticaNeueCyr-Black;
    font-size: 24px;
    font-weight: 900;
    text-transform: uppercase;
    color: #FFF;
    width: 757px;
    height: 57px;
    background-color: #000;
    margin: 0 auto;
}

.news_top_black p {
    margin-top: 18px;
    margin-left: 22px;
}

.middle_news {
    width: 100%;
    position: relative;
    background: #f3f4f8;
    padding-top: 33px;
}

.news_left_box {
    float: left;
    width: 221px;
    position: relative;
}

.news_left_box_title {
    color: #000;
    font-size: 16px;
    font-weight: 700;
    text-transform: uppercase;
    margin: 0 0 0 0;
}

.news_left_mini_box {
    height: 317px;
    border: 1px solid #d3d3d3;
    margin: 26px 0;
    position: relative;
}

.news_left_mini_img {
    max-width: 219px;
    max-height: 166px;
}

.news_left_mini_name {
   /* position: absolute; NSV заком */
    margin: 0 auto;
    left: 0;
    right: 0;
    text-align: center;
    bottom: 125px;
    color: #000;
    font-size: 16px;
    font-weight: 700;
}

.news_left_mini_price {
    position: absolute;
    bottom: 74px;
    text-align: center;
    margin: 0 auto;
    right: 0;
    left: 0;
    color: #000;
    font-size: 16px;
    font-weight: 700;
}

.news_left_mini_price span {
    color: #AE0000;
}

.news_right_box {
    width: 662px;
    position: relative;
    float: right;
}

.box_news {
    width: 662px;
    position: relative;
    background: #ffffff;
}

.box_news img {
    width: 662px;
}

.news_box_text {
    padding: 42px 27px;
    width: 100%;
}

.news_box_title {
    color: #010101;
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 55px;
    width: 628px;
}

.news_box_description {
    color: #000;
    font-size: 14px;
    margin-bottom: 55px;
    width: 628px;
}

.more_news {
    float: right;
    width: 704px;
    height: 324px;
    margin-top: 31px;
    margin-bottom: 66px;
}

.more_news_box {
    float: left;
    width: 311px;
    height: 324px;
    position: relative;
    background: #ffffff;
    margin-left: 41px;
}

.more_news img {
    width: 311px;
    height: 178px;
}

.more_news_title {
    color: #000;
    font-size: 16px;
    font-weight: 700;
    margin-top: 31px;
    margin-left: 11px;
    width: 278px;
}

.more_news_more {
    display: block;
    color: #465CD5;
    font-size: 16px;
    font-weight: 700;
    position: absolute;
    left: 15px;
    bottom: 34px;
    text-decoration: none;
    text-transform: uppercase;
}

.cosmos {
    width: 100%;
    height: 701px;
    overflow: hidden;
}

.cosmos_bgr {
    background: url("/images/kosmos.jpg");
    width: 1920px;
    height: 701px;
    margin-left: -480px;
    z-index: -1;
    position: absolute;
}

.cosmos_yellow {
    font-family: HelveticaNeueCyr-Black;
    font-size: 24px;
    font-weight: 900;
    color: #000;
    text-transform: uppercase;
    width: 452px;
    height: 30px;
    background-color: #FFF343;
    margin: 0 auto;
    margin-top: 62px;
}

.cosmos_yellow p {
    margin-top: 3px;
    margin-left: 17px;
}

.cosmos_black {
    font-family: HelveticaNeueCyr-Black;
    font-size: 24px;
    font-weight: 900;
    text-transform: uppercase;
    color: #FFF;
    width: 297px;
    height: 30px;
    background-color: #000;
    margin: 0 auto;
}

.cosmos_black p {
    margin-top: 3px;
    margin-left: 37px;
}

.cosmos_news {
    width: 100%;
    position: relative;
    background: #f3f4f8;
    padding-top: 33px;
}

.form_form {
    position: relative;
    width: 478px;
    margin: 0 auto;
    margin-top: 48px;
}

.form_name_bgr {
    background: url("/images/input_name_bgr.png") 0 0 no-repeat;
    width: 57px;
    height: 50px;
    margin-bottom: 18px;
    position: relative;
}

.form_name {
    width: 402px;
    height: 46px;
    margin-left: 50px;
    border: 1px solid #aaaaaa;
    font-size: 18px;
    color: #000;
    padding-left: 20px;
    outline: none;
}

.form_name::-webkit-input-placeholder {
    color: #000;
}

.form_name::-moz-placeholder {
    color: #000;
}

.form_email::-webkit-input-placeholder {
    color: #000;
}

.form_email::-moz-placeholder {
    color: #000;
}

.form_phone::-webkit-input-placeholder {
    color: #000;
}

.form_phone::-moz-placeholder {
    color: #000;
}

.form_phone_bgr {
    background: url("/images/input_phone_bgr.png") 0 0 no-repeat;
    width: 57px;
    height: 50px;
    margin-bottom: 18px;
    position: relative;
}

.form_text::-webkit-input-placeholder {
    color: #000;
}

.form_text::-moz-placeholder {
    color: #000;
}

.form_phone {
    width: 402px;
    height: 46px;
    margin-left: 50px;
    border: 1px solid #aaaaaa;
    font-size: 18px;
    color: #000;
    padding-left: 20px;
    outline: none;
}

.form_email_bgr {
    background: url("/images/input_email_bgr.png") 0 0 no-repeat;
    width: 57px;
    height: 50px;
    margin-bottom: 18px;
    position: relative;
}

.form_email {
    width: 402px;
    height: 46px;
    margin-left: 50px;
    border: 1px solid #aaaaaa;
    font-size: 18px;
    color: #000;
    padding-left: 20px;
    outline: none;
}

.form_text_bgr {
    background: url("/images/input_text_bgr.png") 0 0 no-repeat;
    width: 57px;
    height: 50px;
    margin-bottom: 18px;
}

.form_text {
    width: 402px;
    margin-left: 50px;
    border: 1px solid #aaaaaa;
    font-size: 18px;
    color: #000;
    padding-left: 20px;
    padding-top: 15px;
    height: 134px;
    resize: none;
    outline: none;
}

.form_submit {
    background: url("/images/button_send.png");
    width: 422px;
    height: 50px;
    border: none;
    display: block;
    position: relative;
    margin: 0 auto;
    margin-left: 52px;
    margin-top: 129px;
}

.form_submit:hover {
    background-position: 0 -50px;
}

.red_star {
    background: url("/images/red_star.png") 0 0 no-repeat;
    width: 6px;
    height: 6px;
    position: absolute;
    z-index: 1;
}

.name_red_star {
    top: 18px;
    left: 158px;
}

.phone_red_star {
    top: 18px;
    left: 186px;
}

.email_red_star {
    top: 18px;
    left: 156px;
}

.warning {
    margin-top: 30px;
    font-size: 18px;
    color: #FFF;
    text-align: center;
}

.warning span {
    color: #E62D2D;
}

/*@@@@@@@@@@@@@@@@@@@ News End @@@@@@@@@@@@@@@@@@@*/
/*!!!!!!!!!!!!!!!!!!! Article Start !!!!!!!!!!!!!!!!!!!*/
.article_news {
    float: right;
    width: 704px;
    /*height: 324px;*/
    margin-top: 44px;
    /*margin-bottom: 66px;*/
}

.article_news img {
    width: 311px;
    height: 178px;
}

.article_news_box {
    float: left;
    width: 311px;
    height: 324px;
    position: relative;
    background: #ffffff;
    margin-left: 41px;
    margin-bottom: 31px;
}

.article_navigate_box {
    width: 100%;
    height: 23px;
    float: right;
    margin-top: 27px;
    margin-bottom: 54px;
    position: relative;
}

.article_navigate {
   /* width: 203px;  NSV*/
    height: 23px;
    float: right;
    position: relative;
}

.article_navigate_button {
    width: 23px;
    height: 19px;
    float: left;
    background: #f8f8f8;
    color: #AAA;
    font-size: 14px;
    text-align: center;
    padding-top: 4px;
    border: 1px solid #cccccc;
    margin-left: 4px;
}

.article_navigate_button:hover {
    border: 1px solid #27b13e;
    background: #27b13e;
    color: #fff;
}

/*!!!!!!!!!!!!!!!!!!! Article End !!!!!!!!!!!!!!!!!!!*/
/*$$$$$$$$$$$$$$$$$$$ Category_more Start $$$$$$$$$$$$$$$$$$$*/
.category_more {
    width: 100%;
    position: relative;
}

.category_more_catalog {
    width: 412px;
    float: left;
    position: relative;
}

.category_more_slider {
    float: right;
    width: 548px;
}

.category_more_catalog_category {
    color: #000;
    text-transform: uppercase;
    font-size: 18px;
    margin-top: 36px
}

.category_more_catalog_title {
    color: #000;
    font-size: 24px;
    font-weight: 700;
    margin-top: 17px;
}

.category_more_catalog_description {
    color: #000;
    font-size: 16px;
    margin-top: 18px;
    line-height: 19px;
}

.category_more_slider_title {
    width: 548px;
    height: 37px;
    background-color: #F3F4F8;
    color: #000;
    font-size: 16px;
    font-weight: 700;
    text-transform: uppercase;
    margin-top: 25px;
}

.category_more_slider_title p {
    margin: 11px 0px 0 0px;
    position: relative;
    text-align: center;
}

.catalog_slider {
    width: 490px;
    margin-left: 32px;
}

.catalog_slider button.slick-next {
    background: url("/images/catalog_array.png") 0 0;
    width: 22px;
    height: 41px;
}

.catalog_slider button.slick-next:hover {
    background-position: -22px 0;
}

.catalog_slider .slick-next:before {
    color: rgba(255, 255, 255, 0);
}

.catalog_slider .slick-prev:before {
    color: rgba(255, 255, 255, 0);
}

.catalog_slider button.slick-prev {
    background: url("/images/catalog_array.png") 0 0;
    transform: rotate(180deg);
    width: 22px;
    height: 41px;
}

.catalog_slider button.slick-prev:hover {
    background-position: -22px 0;
}

.catalog_slider .product_box {
    margin: 23px 11px 0 11px;
}

.catalog_banner {
    float: right;
    margin-top: 23px;
    width: 712px;
    position: relative;
}

.catalog_top_pagination {
    float: right;
    width: 712px;
    position: relative;
    margin: 30px 0 0 0;
    border-bottom: 1px solid #d7d7d7;
    height: 31px;
    color: #868686;
    font-size: 14px;
}

.catalog_bot_pagination {
    float: right;
    width: 435px;
    position: relative;
    margin: 30px 0 0 0;
    height: 31px;
    color: #868686;
    font-size: 14px;
}

.sort_by {
    float: left;
    margin: 4px 0 0 0px;
}

#sort {
    width: 170px;
    height: 23px;
    border: 1px solid #d7d7d7;
    color: #868686;
    margin: 1px 0 0 4px;
    font-size: 14px;
    float: left;
    outline: none;
}

.sort_by_count {
    float: left;
    margin: 4px 0 0 13px;
}

#sort_2 {
    width: 63px;
    height: 23px;
    border: 1px solid #d7d7d7;
    color: #868686;
    margin: 1px 0 0 4px;
    font-size: 14px;
    float: left;
    outline: none;
}

/*$$$$$$$$$$$$$$$$$$$ Category_more End $$$$$$$$$$$$$$$$$$$*/

/*%%%%%%%%%%%%%%%%%%% Cart Start %%%%%%%%%%%%%%%%%%%*/
.cart {
    width: 100%;
    position: relative;
    margin-top: 43px;
}

.cart_head {
    width: 961px;
    height: 42px;
    background-color: #363636;
    color: #FFF;
    font-size: 18px;
}

.cart_head span {
    float: left;
    margin: 13px 0 0 18px;
}

.cart_head span2 {
    float: left;
    margin: 13px 0 0 329px;
}

.cart_head span3 {
    float: left;
    margin: 13px 0 0 142px;
}

.cart_box {
    position: relative;
    border-bottom: 1px solid #d7d7d7;
    height: 163px;
    /*margin-bottom: 25px;*/
}

.cart_name_box {
    position: relative;
    float: left;
    width: 499px;
    height: 163px;
}

.cart_count_box {
    position: relative;
    float: left;
    width: 278px;
    height: 163px;
}

.cart_price_box {
    position: relative;
    float: left;
    width: 183px;
    height: 163px;
}

.cart_name_box img {
    width: 155px;
    height: 124px;
    float: left;
    border: 1px solid #dedede;
    margin: 17px 24px 21px 0;
}

.cart_name {
    color: #000;
    font-size: 18px;
    margin: 15px 0 0 0;
    float: left;
    width: 300px;
}

.cart_see_button {
    background: url("/images/button_see_product.png") 0 0 no-repeat;
    width: 245px;
    height: 22px;
    position: absolute;
    top: 69px;
    left: 180px;
    cursor: pointer;
}

.cart_see_button:hover {
    background-position: 0 -22px;
}

.box_count {
    width: 38px;
    height: 38px;
    border: 2px solid #dedede;
    margin: 16px 12px 8px 0;
    float: left;
}

.box_count span {
    color: #868686;
    margin-top: 9px;
    text-align: center;
    font-size: 18px;
    display: block;
}

.cart_count_price {
    position: relative;
    float: left;
    margin: 28px 0 0 0;
    color: #868686;
    font-size: 16px;
}

.plus_minus_box {
    position: absolute;
    top: 69px;
}

.button_plus {
    background: url("/images/button_plus_minus.png") 0 0 no-repeat;
    width: 20px;
    height: 22px;
    float: left;
    margin-right: 1px;
}

.button_plus:hover {
    background-position: 0 -22px;
}

.button_minus {
    background: url("/images/button_plus_minus.png") -20px 0 no-repeat;
    width: 20px;
    height: 22px;
    float: left;
    margin-right: 1px;
}

.button_minus:hover {
    background-position: -20px -22px;
}

.cart_price_price {
    color: #000;
    font-size: 18px;
    margin: 13px 0 0 0;
}

.button_delete {
    background: url("/images/button_delete.png");
    width: 88px;
    height: 22px;
    position: absolute;
    top: 69px;
}

.button_delete:hover {
    background-position: 0 -22px;
}

.cart_banner_and_sum {
    height: 177px;
    position: relative;
    margin-top: 25px;
    border-bottom: 1px solid #e2e2e2;
}

.cart_banner_and_sum_banner {
    float: left;
}

.cart_banner_and_sum_sum {
    width: 383px;
    float: right;
}

.cart_sum {
    color: #000;
    font-size: 24px;
    font-weight: 700;
    margin-top: -6px;
}

.csrt_sum_grey {
    margin-top: 5px;
    color: #AAA;
    font-size: 12px;
    margin-left: 5px;
}

.promo_cod_box {
    height: 40px;
    margin-top: 5px;
    margin-left: 4px;
}

.i_have_promo {
    border-bottom: 1px dashed #2D3C8D;
    color: #2D3C8D;
    font-size: 16px;
    font-weight: 700;
    display: inline-block;
    margin: 22px 0 0 8px;
    cursor: pointer;
}

.i_have_promo:hover {
    color: #27B13E;
    border-bottom: 1px dashed #27B13E;
}

.promo {
    display: none;
    border: 2px solid #e2e2e2;
    height: 36px;
    width: 180px;
    float: left;
    padding: 0px 0 0 16px;
    color: #000;
    font-size: 16px;
    outline: none;
}

.promo::-webkit-input-placeholder {
    color: #000;
}

.promo_success {
    display: none;
    height: 40px;
    width: 83px;
    background: #e2e2e2;
    border: none;
    float: left;
    color: #000;
    font-size: 16px;
    cursor: pointer;
}

.promo_success:hover {
    background: #27B13E;
}

.button_oformlenie {
    background: url("/images/button_oformlenie.png") 0 0 no-repeat;
    width: 278px;
    height: 40px;
    margin: 12px 0 0 4px;
}

.button_oformlenie:hover {
    background-position: 0 -40px;
}

.we_commend {
    width: 100%;
    position: relative;
    height: 399px;
    margin-bottom: 84px;
}

.we_commend_img {
    margin: 22px 1px 0 0;
    float: left;
}

.we_recommend_product {
    float: left;
    margin-left: 100px;
}

.we_commend_title {
    width: 290px;
    height: 36px;
    background-color: #F3F4F8;
    float: left;
    margin: 22px 0 0 235px;
    text-align: center;
}

.we_commend_title p {
    margin: 11px 0 0 0;
    color: #000;
    font-size: 16px;
    font-weight: 700;
    text-transform: uppercase;
}

.we_recommend_line {
    border: 1px solid #F3F4F8;
    width: 714px;
    float: left;
    height: 0px;
    margin-left: 22px;
}

.ordering {
    width: 100%;
    height: 797px;
    background: #f3f4f8;
}

.ordering_title {
    height: 129px;
    margin-top: 48px;
    position: relative;
}

.left_form {
    float: left;
    width: 480px;
    position: relative;
}

.ordering_title_top {
    margin-left: 39px;
    color: #000;
    font-size: 16px;
    font-weight: 700;
    text-transform: uppercase;
}

.ordering_title_top img {
    position: absolute;
    left: 0;
    top: -10px;
}

.ordering_title_bot {
    color: #000;
    font-size: 16px;
    margin-top: 17px;
    line-height: 1.2;
}

.ordering_form {
    position: relative;
    width: 478px;
    margin: 0 auto;
    margin-top: 28px;

}

.ordering_data {
    margin-left: 39px;
    color: #000;
    margin-top: 3px;
    font-size: 16px;
    font-weight: 700;
    text-transform: uppercase;
}

.ordering_data img {
    position: absolute;
    left: -1px;
    top: 0px;
}

.ordering_submit {
    background: url("/images/button_ordering.png");
    width: 268px;
    height: 51px;
    border: none;
    display: block;
    position: absolute;
    margin: 0 auto;
    left: 347px;
    bottom: -233px;
    cursor: pointer;
}

.ordering_submit:hover {
    background-position: 0 -51px;
}

.right_form {
    width: 400px;
    float: left;
    position: relative;
    margin-left: 50px;
}

input[type="radio"] {
    display: none;
}

input[type="radio"] + p {
    margin-top: 27px;
    margin-bottom: 46px;
}

input[type="radio"] + p span {
    display: inline-block;
    width: 13px;
    height: 13px;
    margin: -1px 4px 0 0;
    vertical-align: middle;
    cursor: pointer;
    -moz-border-radius: 50%;
    border-radius: 50%;
}

input[type="radio"] + p span {
    background: url("/images/radio_button.png") 0 -13px;
}

input[type="radio"]:checked + p span {
    background: url("/images/radio_button.png") 0 0;
}

.text_inp_moss {
    position: absolute;
    color: #000;
    font-size: 18px;
    top: -1px;
    left: 20px;
}

.text_inp_moss span {
    font-size: 14px;
}

.text_inp_sam {
    position: absolute;
    color: #000;
    font-size: 18px;
    top: 63px;
    left: 20px;
}

.text_inp_sam span {
    font-size: 14px;
}

.text_inp_tk {
    position: absolute;
    color: #000;
    font-size: 18px;
    top: 125px;
    left: 20px;
}

.text_inp_tk span {
    font-size: 14px;
}

.warning2 {
    margin-top: 98px;
    font-size: 18px;
    color: #000;
    text-align: center;
    position: absolute;
    left: 51px;
}

/*%%%%%%%%%%%%%%%%%%% Cart End %%%%%%%%%%%%%%%%%%%*/
/*^^^^^^^^^^^^^^^^^^^ Product Start ^^^^^^^^^^^^^^^^^^^*/
.product_view_box {
    margin-top: 18px;
}

.product_images {
    width: 475px;
    height: 270px;
    float: left;
    position: relative;
}

.tree_product_box {
    float: left;
    width: 121px;
}

.tree_product_box a img {
    width: 115px;
    height: 86px;
    border: 1px solid #d7d7d7;
}

.big_product_image {
    width: 330px;
    height: 268px;
    border: 1px solid #d7d7d7;
    float: right;
}

.product_information {
    position: relative;
    float: right;
    width: 456px;
}

.product_title {
    color: #000;
    font-size: 24px;
    font-weight: 700;
    text-transform: uppercase;
}

.product_fabric {
    color: #AAA;
    font-size: 16px;
    margin: 16px 34px;
    position: relative;
}

.product_fabric a{
    color: #AAA;
    font-size: 16px;
}

.product_fabric a:hover{
    color: #bbbbbb;
    font-size: 16px;
}

.product_fabric img {
    position: absolute;
    left: -34px;
    top: -6px
}

.product_box_price {
    width: 100%;
    height: 60px;
    border-bottom: 1px solid #d7d7d7;
    border-top: 1px solid #d7d7d7;
    position: relative;
}

.product_box_price_price {
    margin-top: 22px;
    color: #000;
    font-size: 16px;
    font-weight: 700;
}
#product_id span{
    color: #AE0000;
}

.button_buy_product {
    position: absolute;
    right: 0;
    top: 12px;
    bottom: 10px;
    width: 159px;
    height: 38px;
    display: block;
    cursor: pointer;
    background: url("/images/button_buy.png") 0 0;
}

.button_buy_product:hover {
    background-position: 0 -38px;
}

.product_count {
    position: absolute;
    width: 38px;
    height: 27px;
    text-align: center;
    padding-top: 10px;
    top: 9px;
    right: 196px;
    border: 2px solid #dedede;
    color: #868686;
    font-size: 18px;
}

.product_count_minus {
    background: url("/images/button_plus_minus_2.png") 0 0;
    width: 20px;
    height: 41px;
    position: absolute;
    top: 9px;
    right: 242px;
    cursor: pointer;
}

.product_count_minus:hover {
    background-position: 0 -41px;
}

.product_count_plus {
    background: url("/images/button_plus_minus_2.png") 20px 0;
    width: 20px;
    height: 41px;
    position: absolute;
    top: 9px;
    right: 174px;
    cursor: pointer;
}

.product_count_plus:hover {
    background-position: 20px -41px;
}

.product_choice_color {
    position: relative;
}

.choice_color_title {
    margin-top: 11px;
    width: 439px;
    height: 26px;
    background-color: #363636;
    color: #FFF;
    font-size: 16px;
    padding-top: 10px;
    padding-left: 16px;
    cursor: pointer;
}

.choise_arrow {
    position: absolute;
    top: 15px;
    left: 138px;
    cursor: pointer;
}

.choise_color_img {
    position: absolute;
    top: 8px;
    left: 165px;
}

.choise_color_colors_title {
    margin: 16px 0 0 17px;
    color: #010101;
    font-size: 16px;
    font-weight: 700;
}

.choise_color_colors_title_fasad {
    margin: 16px 0 0 17px;
    color: #010101;
    font-size: 16px;
    font-weight: 700;
}

.box_colors {
    width: 100%;
    position: relative;
}

.box_color {
    width: 46px;
    height: 46px;
    background: white;
    float: left;
    padding: 5px;
    margin: 4px;
    cursor: pointer;
}

.box_color_fasad {
    width: 46px;
    height: 46px;
    background: white;
    float: left;
    padding: 5px;
    margin: 4px;
    cursor: pointer;
}

.color {
    width: 46px;
    height: 46px;
}

.chic {
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.75) !important;
}

.rotate {
    transform: rotate(0deg);
    transition: .3s;
}

.rotate-reset {
    transform: rotate(-90deg);
    transition: .3s;
}

.product_choice_size {
    position: relative;
}

.choice_size_title {
    margin-top: 11px;
    width: 439px;
    height: 26px;
    background-color: #363636;
    color: #FFF;
    font-size: 16px;
    padding-top: 10px;
    padding-left: 16px;
    cursor: pointer;
}

.choise_arrow_size {
    position: absolute;
    top: 15px;
    left: 214px;
    cursor: pointer;
}

.choise_size_img {
    position: absolute;
    top: 6px;
    left: 238px;
}

.choice_size_sizes {
    width: 100%;
    height: 86px;
    position: relative;
}

.choise_size_sizes_title {
    margin: 16px 0 0 17px;
    color: #010101;
    font-size: 16px;
    font-weight: 700;
}

.box_sizes {
    width: 46px;
    height: 46px;
    background: white;
    float: left;
    padding: 5px;
    margin: 4px;
    cursor: pointer;
}

#size {
    width: 374px;
    height: 34px;
    border: 1px solid #cccccc;
    border-radius: 4px;
    padding-left: 10px;
    color: #555555;
}

.product_description {
    width: 100%;
    position: relative;
    float: left;
    margin-top: 55px;
}

.product_description_top {
    height: 30px;
    border-bottom: 1px solid #d7d7d7;
    color: #000;
    font-size: 16px;
    text-transform: uppercase;
    padding-left: 35px;
}

.product_description_top img {
    position: absolute;
    left: 0;
    top: -6px;
}

.product_description_bot {
    margin-top: 16px;
    color: #000;
    font-size: 16px;
    margin-bottom: 40px;
}

#tabs {
    border-radius: 0;
    background-color: white;
    border: none;
}

#tabs ul {
    border: none;
    border-bottom: 2px solid #d7d7d7;
    background-color: #363636;
    border-radius: 0;
    padding: 0;
}

#tabs ul li {
    margin: 0;
    padding: 0;
    height: 42px;
    border: none;
    border-right: 1px solid #d7d7d7;
    border-radius: 0;
    background: #363636;
}

#tabs ul li a {
    color: #FFF;
    font-family: HelveticaNeueCyr-Roman;
    font-size: 16px;
    margin-top: 3px;
    outline: none;
    cursor: pointer;
}

#tabs ul li.ui-tabs-active {
    background-color: #aaaaaa;
}

.prod_percent {
    position: absolute;
    right: 20px;
    top: 4px;
}

#tabs-1 {
    color: #000;
    font-family: HelveticaNeueCyr-Roman;
    font-size: 16px;
}

.character {
    float: left;
    width: 150px;
    height: 190px;
    position: relative;
    margin-bottom: 20px;
    margin-left: 10px;
    margin-right: 10px;
}

.character div {
    text-align: center;
    margin-top: 10px;
}

.character a img {
    width: 150px;
    position: absolute;
    /*bottom: 0;*/
}

.tabs-3 {
    color: #000;
    font-family: HelveticaNeueCyr-Roman;
    font-size: 16px;
}

.similar_products {
    background: #f3f4f8;
    position: relative;
}

.similar_products_title {
    padding-left: 20px;
    height: 12px;
    border-bottom: 1px solid #d7d7d7;
    color: #000;
    font-size: 16px;
    padding-top: 13px;
    padding-bottom: 11px;
}
.flex_slider .slick-list.draggable{
    width: 233px;
}
.db{
    display: block;
}
.similarSlider {
    width: 910px;
    margin: 32px auto;
    /*margin-top: 35px;*/
}

.similar_sl_box {
    width: 136px;
    height: 225px;
    position: relative;
    margin: 0px 24px;
    outline: none;
}

.similar_sl_box_img {
    width: 116px;
    height: 83px;
    background: #ffffff;
    border: 1px solid #d7d7d7;
    padding: 10px;
}

.similar_name {
    color: #000;
    font-size: 14px;
    font-weight: 700;
    margin-top: 16px;
}

.similar_price {
    color: #000;
    font-size: 16px;
    font-weight: 700;
    position: absolute;
    /* left: 0; */ /* nsv */
    bottom: 47px;
}

.button_similar {
    background: url("/images/button_similar.png") 0 0;
    width: 105px;
    height: 30px;
    position: absolute;
    bottom: 0;
    left: 0;
}

.button_similar:hover {
    background-position: 0 -30px;
}

.similarSlider button.slick-next {
    background: url("/images/catalog_array.png") 0 0;
    width: 22px;
    height: 41px;
}

.similarSlider button.slick-next:hover {
    background-position: -22px 0;
}

.similarSlider button.slick-prev {
    background: url("/images/catalog_array.png") 0 0;
    transform: rotate(180deg);
    width: 22px;
    height: 41px;
}

.similarSlider button.slick-prev:hover {
    background-position: -22px 0;
}

.similarSlider .slick-next:before {
    color: rgba(255, 255, 255, 0);
}

.similarSlider .slick-prev:before {
    color: rgba(255, 255, 255, 0);
}

.all_elements_box {
    position: relative;
    width: 984px;
    margin-left: -22px;
    margin-bottom: 70px;
}

.all_elements_title {
    background: url("/images/all_elements.png") repeat;
    width: 952px;
    height: 24px;
    position: relative;
    margin-top: 45px;
    padding: 12px 0 0 8px;
    font-size: 16px;
    font-weight: 700;
    color: #ffffff;
    text-transform: uppercase;
    letter-spacing: 0.3px;
}

/*^^^^^^^^^^^^^^^^^^^ Product End ^^^^^^^^^^^^^^^^^^^*/

/********************FANCY_BOX START********************/
.fancybox-next {
    right: -100px;
}

.fancybox-prev {
    left: -100px;
}

.fancybox-close {
    background: url("/images/fancybox_close.png") 0 0;
    width: 47px;
    height: 47px;
    visibility: visible;
}

.fancybox-close:hover {
    background-position: 0px -46px;
    height: 40px;
}

.fancybox-next span {
    background: url("/images/fancybox_nav.png") 0 0;
    width: 40px;
    height: 37px;
    visibility: visible;
}

.fancybox-next span:hover {
    background-position: 0px -37px;
}

.fancybox-prev span {
    background: url("/images/fancybox_nav.png") 0 0;
    width: 40px;
    height: 37px;
    visibility: visible;
    transform: scaleX(-1);
}

.fancybox-prev span:hover {
    background-position: 0px -37px;
    transform: scaleX(-1);
}

.fancybox-overlay {
    background: url("/images/fancybox_overlay.png") repeat;
}

.flex-tab {
    height: 695px;
    position: fixed;
    right: 0;
    bottom: 0;
}

.flex_open {
    cursor: pointer;
    float: left;
    background: url("/images/flex_open.jpg");
    width: 51px;
    height: 695px;
}

.flex_income {
    width: 233px;
    height: 695px;
    float: left;
}

.flex_banner {
    background: url("/images/flex_banner.jpg");
    width: 233px;
    height: 194px;
}

.flex_slider_big_box {
    height: 474px;
    width: 233px;
    background: #ffffff;
}

.flex_slider_box {
    height: 132px;
    border-bottom: 1px solid #d7d7d7;
    padding: 8px 3px 17px 5px;
    position: relative;
}

.flex_slider_title {
    color: #000;
    font-size: 14px;
    font-weight: 700;
}

.flex_slider_img {
    width: 117px;
    height: 88px;
    position: relative;
    left: 0px;
    bottom: -11px;
    border: 1px solid #d7d7d7;
}

.flex_slider_price {
    width: 80px;
    position: absolute;
    right: 0;
    top: 54px;
    color: #000;
    font-size: 14px;
    font-weight: 700;
}

.flex_slider_button {
    right: 0px;
    bottom: 17px;
    background: url("/images/button_similar.png") 0 0;
    width: 105px;
    height: 30px;
    position: absolute;
}

.flex_slider_button:hover {
    background-position: 0 -30px;
}

.flex_grey_zone {
    background: #aaaaaa;
    width: 233px;
    height: 27px;

}

.flex_slider .slick-next {
    background: url('/images/flex_arrow.png');
    width: 12px;
    height: 14px;
    top: 490px;
    left: 120px;
    z-index: 1;
    transform: scaleX(-1);
}

.flex_slider .slick-prev {
    background: url('/images/flex_arrow.png');
    width: 12px;
    height: 14px;
    top: 490px;
    left: 90px;
    z-index: 1;
}

.flex_slider .slick-prev:before {
    content: none;
}

.flex_slider .slick-next:before {
    content: none;
}

.flex_slider {
    margin-bottom: 0;

}
.flex_slider div{
    outline: none;
}
a.fancybox{
    position: relative;
    display: block;
}
.fliper{
    background: url('/images/flip.png') center  center no-repeat;
    width: 53px;
    height: 53px;
    position:absolute;
    margin:auto;
    top:0;
    bottom:0;
    left:0;
    right:0;
    display: none;
}
a.fancybox:hover .fliper{
    display: block;
}
.slider_yee{
    background: url('/images/glaz.png') center center no-repeat;
    width: 32px;
    height: 22px;
    position: absolute;
    margin: auto;
    top: 44px;
    /* bottom: 0; */
    left: 48px;
    /* right: 0; */
    z-index: 1;
    display: none;
}
a.fancybox:hover .slider_yee{
    display: block;
}
/********************FANCY_BOX END********************/

/*NSV CSS BEGIN */
.article_navigate_button.selected {
    background: #27b13e none repeat scroll 0 0;
    border: 1px solid #27b13e;
    color: #fff;
}
.article_navigate_button.selected a,.article_navigate_button:hover a{
    color: #fff;
}
.article_navigate_button a{
    color: #aaa;
    text-decoration: none;
}
.article_navigate_button.hidden
{
    display:none;
}

.left_catalog li a:hover {
    background: #ededed;
}

.phone_modal form> div{
    margin-left: 57px;
}
.errorMessage {
    color: red;
    font-size: 12px;
    width: 475px;
}
.img_article{
    /* width:100%; */
    max-width:480px;
    max-height:200px;
}


#main_catalog_menu_left .inside a span:hover
{
    background: #E2E2E2 none repeat scroll 0 0;
}

.img_popular_prod
{
    max-width:115px;
    max-height:86px;    
}
.similar_sl_box div
{
    text-align: center;
}
.similar_sl_box .similar_price
{
    margin-left:32px;
}
.pole_div_wrap
{
    margin:40px;    
}
.no_border
{
    border-right: none!important;    
}
/*NSV CSS END */

/*scroll to top*/
#topcontrol{
    right: 60px!important;
}