@font-face {
    font-family: HelveticaNeueCyr-Roman; /* Имя шрифта */
    src: url(/fonts/helveticaneuecyr-roman.otf); /* Путь к файлу со шрифтом */
}

@font-face {
    font-family: HelveticaNeueCyr; /* Имя шрифта */
    src: url(/fonts/helveticaneuecyr-roman.ttf); /* Путь к файлу со шрифтом */
}
@font-face {
    font-family: "HelveticaNeueCyr"; /* Имя шрифта */
    src: url(/fonts/helveticaneuecyr-roman.otf); /* Путь к файлу со шрифтом */
}
@font-face {
    font-family: HelveticaNeueCyr-Black; /* Имя шрифта */
    src: url(/fonts/helveticaneuecyr-black.otf); /* Путь к файлу со шрифтом */
}

@font-face {
    font-family: HelveticaNeueCyr-Italic; /* Имя шрифта */
    src: url(/fonts/helveticaneuecyr-italic.otf); /* Путь к файлу со шрифтом */
}

@font-face {
    font-family: HelveticaNeueCyr-BoldItalic; /* Имя шрифта */
    src: url(/fonts/HelveticaNeueCyr-BoldItalic.otf); /* Путь к файлу со шрифтом */
}

@font-face {
    font-family: slick;
    src: url(/fonts/slick.ttf);
}

/*фикс*/
.clear-fix:before, .clear-fix:after {
    content: " ";
    display: table;
}

.clear-fix:after {
    clear: both;
}

@media screen and (min-width: 320px) and (max-width: 1366px) {

    .m_container {
        width: 600px;
        position: relative;
        margin: 0 auto;
    }

    textarea {
        font-family: "HelveticaNeueCyr-Roman";
    }

    body {
        margin: 0;
        line-height: normal;
        font-family: HelveticaNeueCyr-Roman;
        background: white;
        width: 100%;
        position: relative;
    }

    /*---------- Header START----------*/
    .m_nav {
        z-index: 3;
        min-width: 600px;
        width: 100%;
        position: fixed;
        top: 0px;
        height: 66px;
        background-color: #2B2B2B;
        -moz-box-shadow: 0 0 6.6px 1.4px rgba(0, 0, 0, 0.75);
        -webkit-box-shadow: 0 0 6.6px 1.4px rgba(0, 0, 0, 0.75);
        box-shadow: 0 0 6.6px 1.4px rgba(0, 0, 0, 0.75);
    }

    .m_cart_box {
        float: right;
        width: 84px;
        height: 66px;
        position: relative;
    }

    .m_menu_box {
        float: right;
        width: 58px;
        height: 66px;
        margin-right: 27px;
        margin-left: 50px;
    }

    .m_menu_text {
        margin: 10px 0 7px 0;
        color: #FFF;
        font-family: HelveticaNeueCyr-Roman;
        font-size: 17px;
        text-transform: uppercase;
    }

    .m_cart_text {
        margin: 10px 0 5px 0;
        color: #FFF;
        font-family: HelveticaNeueCyr-Roman;
        font-size: 17px;
        text-transform: uppercase;
    }

    .m_cart_count {
        color: #FF7500;
        font-family: "HelveticaNeueCyr";
        font-size: 17px;
        font-weight: 700;
        position: absolute;
        bottom: 8px;
        right: 20px;
        background: url("/images/m_ellips.png");
        width: 23px;
        height: 23px;
        text-align: center;
        text-decoration: none;
    }
    .m_cart_count span{
        display: block;
        position: relative;
    }
    .m_cart_count span p{
        margin-top: 2px;
        display: block;
        position: relative;

    }
    .m_logo {
        background: url("/images/m_logo.png") 0 0 no-repeat;
        width: 297px;
        height: 48px;
        margin: 8px 0 0 28px;
        float: left;
    }

    .m_banner {
        height: 221px;
        background: #ffae00;
        position: relative;
        width: 100%;
        min-width: 600px;
        margin-top: 66px;
    }

    .pr {
        position: relative;
    }

    .confeti{
        position: absolute;
        right: 0;
        bottom: 0;
    }
    .slick-slide{
        position: relative;
    }
    .m_banner_box {
        height: 221px;
    }

    .m_banner_text {
        color: #000;
        font-family: "HelveticaNeueCyr";
        font-size: 24px;
        font-weight: 900;
        text-transform: uppercase;
        margin: 24px 0 0 108px;
    }

    .m_banner_sale {
        background: url("/images/m_about_us_banner_sale.png");
        width: 323px;
        height: 141px;
        position: absolute;
        top: 57px;
        left: 170px;
    }

    .m_banner_slide_2_left {
        background: url("/images/m_banner_slide_2_left.png");
        width: 278px;
        height: 164px;
        float: left;
        margin: 25px 0 0 21px;
    }

    .m_banner_slide_2_right {
        background: url("/images/m_banner_slide_2_right.png");
        width: 337px;
        height: 221px;
        right: 0;
        position: absolute;
    }

    .m_banner_slide_3_left {
        background: url("/images/m_slider_banner_3_left.png");
        width: 83px;
        height: 144px;
        position: absolute;
        left: 0;
        bottom: 47px;
    }

    .m_banner_slide_3_hit {
        background: url("/images/m_slider_banner_3_hit.png");
        width: 412px;
        height: 268px;
        position: relative;
        margin: 0 auto;
    }

    .m_banner_slide_3_right {
        background: url("/images/m_slider_banner_3_right.png");
        width: 74px;
        height: 144px;
        position: absolute;
        right: 0;
        bottom: 47px;
    }

    .m_search_input {
        width: 488px;
        height: 53px;
        background-color: #FFF;
        border: 1px solid #BEBEBE;
        -moz-border-radius: 10px;
        -webkit-border-radius: 10px;
        border-right: none;
        border-radius: 10px 0px 0px 10px;
        float: left;
        padding: 1px;
        padding-left: 17px;
        color: #4F4F4F;
        font-family: "HelveticaNeueCyr";
        font-size: 21px;
        font-weight: 700;
        margin: 0px 0 0 8px;
    }

    .m_search_button {
        background: url("/images/m_search_button.png") 0 0;
        width: 85px;
        height: 57px;
        border: none;
        position: absolute;
        right: 0;
        margin: 0px 0 0 0px;
    }

    .m_search_button:hover {
        background-position: 0 -57px;
    }

    .m_u_search {
        color: #737373;
        font-family: "HelveticaNeueCyr";
        font-size: 17px;
        margin: 10px 0 19px 26px;
    }

    .m_button_call_us {
        background: url("/images/m_button_call_us.png") 0 0;
        width: 313px;
        height: 96px;
        float: left;
        margin-left: 8px;
    }

    .m_button_call_us:hover {
        background-position: 0 -96px;
    }

    .m_button_delivery_and_pay {
        background: url("/images/m_button_delivery_and_pay.png");
        width: 253px;
        height: 96px;
        float: right;
        margin-right: 8px;
    }

    .m_button_delivery_and_pay:hover {
        background-position: 0 -96px;
    }

    .m_breadcrumbs {
        color: #4F4F4F;
        font-family: "HelveticaNeueCyr";
        font-size: 21px;
        margin-top: 36px;
    }

    .m_breadcrumbs span {
        color: #465CD5;
    }

    /*---------- HEADER END----------*/
    /*---------- footer START----------*/
    .m_footer {
        min-width: 600px;
        width: 100%;
        height: 247px;
        background: url("/images/m_footer_bgr.png") repeat-x;
    }

    .m_footer_left {
        float: left;
        height: 193px;
        margin-left: 20px;
        position: relative;
        z-index: 1;
    }

    .m_footer_left a {
        display: block;
        margin-top: 21px;
        color: #FFF;
        font-family: "HelveticaNeueCyr";
        font-size: 21px;
        font-weight: 700;
        text-decoration: underline;
    }

    .m_footer_right {
        float: right;
        margin-right: 20px;
        height: 193px;
        width: 305px;
    }

    .m_footer_right_box {
        margin-top: 22px;
    }

    .m_footer_right_box img {
        position: absolute;
    }

    .m_footer_right_text {
        margin-left: 53px;
        color: #FFF;
        font-family: "HelveticaNeueCyr";
        font-size: 21px;
    }

    .m_footer_right_text p {
        font-size: 17px;
    }

    .mt_20 {
        margin-top: 20px;
    }

    .m_copyright {
        margin-top: 20px;
        display: inline-block;
        color: #FFF;
        font-family: "HelveticaNeueCyr";
        font-size: 12px;
    }

    .m_copyright span {
        text-decoration: underline;
    }

    /*---------- footer END----------*/
    /*---------- About_us START----------*/
    .m_about_us_family {
        background: url("/images/m_family.jpg") no-repeat;
        background-size: cover;
        height: 355px;
        margin-top: 110px;
    }

    .m_family_top_black {
        width: 378px;
        height: 24px;
        background-color: #000;
        position: absolute;
        margin: 0 auto;
        left: 0;
        right: 0;
        top: -50px;
        text-align: center;
        color: #FFF;
        font-family: "HelveticaNeueCyr";
        font-size: 21px;
        font-weight: 700;
        text-transform: uppercase;
        padding-top: 1px;
    }

    .m_family_bot_black {
        width: 388px;
        height: 25px;
        background-color: #000;
        position: absolute;
        margin: 0 auto;
        left: 0;
        right: 0;
        bottom: 55px;
        text-align: center;
        color: #FFF;
        font-family: "HelveticaNeueCyr";
        font-size: 21px;
        font-weight: 700;
        text-transform: uppercase;
        padding-top: 1px;
    }

    .m_family_bot_yellow {
        width: 388px;
        height: 25px;
        background-color: #FFF343;
        position: absolute;
        margin: 0 auto;
        left: 0;
        right: 0;
        bottom: 30px;
        text-align: center;
        color: #000;
        font-family: "HelveticaNeueCyr";
        font-size: 21px;
        font-weight: 700;
        text-transform: uppercase;
        padding-top: 1px;
    }

    .m_advantage {
        margin-top: 30px;
        color: #000;
        font-family: "HelveticaNeueCyr";
        font-size: 21px;
    }

    .m_advantage_text_box {
        margin-left: 80px;
    }

    .m_advantage_text_box span {
        display: block;
        margin-bottom: 8px;
        font-weight: 700;
        text-transform: uppercase;
    }

    .m_advantage_img_1 {
        position: absolute;
    }

    .m_advantage_img_2 {
        position: absolute;
    }

    .m_advantage_img_3 {
        position: absolute;
        margin-left: 12px;
    }

    .m_advantage_img_4 {
        position: absolute;
        margin-left: 6px;
    }

    .m_clients_trust_black {
        width: 317px;
        height: 25px;
        background-color: #000;
        color: #FFF;
        font-family: "HelveticaNeueCyr";
        font-size: 21px;
        font-weight: 700;
        text-transform: uppercase;
        text-align: center;
        margin: 0 auto;
        margin-top: 40px;
    }

    .m_yoga_women {
        background: url("/images/m_yoga_women.jpg");
        width: 522px;
        height: 355px;
        margin: 0 auto;
        margin-top: 20px;
        margin-bottom: 32px;
    }

    .m_clients_trust_text {
        color: #000;
        font-family: "HelveticaNeueCyr";
        font-size: 21px;
    }

    .m_clients_trust_text span {
        font-weight: 900;
        display: block;
        margin-bottom: 8px;
    }

    .m_company_recvizits {
        margin-top: 50px;
        background: url("/images/m_comapany_recvizits.jpg");
        width: 100%;
        min-width: 600px;
        background-size: cover;
        height: 297px;
    }

    .m_company_recvizits_text {
        color: #FFF;
        font-family: "HelveticaNeueCyr";
        font-size: 21px;
        font-weight: 700;
        line-height: 30px;
    }

    .m_company_recvizits_text span {
        line-height: normal;
        display: block;
        margin: 40px 0;
        color: #FFF;
        font-family: "HelveticaNeueCyr";
        font-size: 21px;
        font-weight: 900;
        text-transform: uppercase;
    }

    .m_full_box {
        height: 383px;
    }

    .m_full_box_bgr {
        background: url("/images/m_full_version_bgr.jpg");
        width: 100%;
        min-width: 600px;
        background-size: cover;
        height: 239px;
        position: absolute;
    }

    .m_mac {
        background: url("/images/m_mac.png");
        width: 447px;
        height: 250px;
        margin: 0 auto;
        margin-top: 18px;
    }

    .m_full_button {
        background: url("/images/m_button_full_version.png") 0 0;
        width: 449px;
        height: 66px;
        margin: 0 auto;
        margin-top: 15px;
    }
    .m_full_button:hover{
        background-position: 0 -66px;
    }

    /*---------- About_us END----------*/
    /*---------- Delivery START----------*/
    .m_delivery_car {
        background: url("/images/m_delivery_car.png");
        width: 586px;
        height: 155px;
        position: relative;
        margin: 0 auto;
        margin-top: 60px;
        margin-bottom: 53px;
    }

    .m_adv {
        background: #f3f4f8;
        width: 100%;
        height: auto;
        position: relative;
        margin-top: 50px;
        min-width: 600px;
        color: #000;
        font-family: "HelveticaNeueCyr";
    }

    .m_adv span {
        margin-top: 54px;
        font-size: 21px;
        font-weight: 700;
        text-transform: uppercase;
        display: block;
        margin-bottom: 18px;
    }

    .m_adv span2 {
        font-size: 21px;
        font-weight: 700;
        line-height: 30px;
    }

    .m_adv span3 {
        font-size: 19px;
        font-style: italic;
        margin-top: 10px;
        display: block;
    }

    .m_adv span4 {
        font-size: 21px;
        display: block;
        margin-bottom: 64px;
    }

    .m_adv_text_box {
        margin-left: 153px;
    }

    .m_adv_img_1 {
        margin-top: 63px;
        position: absolute;
    }

    .m_adv_img_2 {
        margin-top: 35px;
        position: absolute;
    }

    .m_adv_line {
        background: #dcdcdc;
        width: 600px;
        height: 2px;
        margin: 30px 0 0 0;
    }

    .m_mi_rabotaem {
        background: url("/images/m_mi_rabotaem.jpg") 0 0 no-repeat;
        width: 100%;
        min-width: 600px;
        height: 312px;
        background-size: cover;
    }

    .m_mi_rabotaem_text {
        text-align: center;
        color: #FFF;
        font-family: "HelveticaNeueCyr";
        font-size: 24px;
        font-weight: 700;
        margin-top: 140px;
        position: relative;
    }

    /*---------- Delivery END----------*/
    /*---------- News START----------*/
    .m_news {
        width: 100%;
        position: relative;
        margin-top: 30px;
        margin-bottom: 60px;
    }

    .m_news_img_box {
        width: 600px;
        border-top: 6px solid #ff7500;
    }
    .m_news_img_box img{
        width: 600px;
    }

    .m_news_title {
        color: #000;
        font-family: "HelveticaNeueCyr";
        font-size: 21px;
        font-weight: 700;
        margin-top: 33px;
        margin-bottom: 36px;
    }

    .m_news_description {
        color: #000;
        font-family: "HelveticaNeueCyr";
        font-size: 21px;
    }

    /*---------- News END----------*/
    /*---------- Order START----------*/
    .m_order {
        width: 100%;
        position: relative;
        margin-top: 46px;
        margin-bottom: 64px;
    }

    .m_order_yellow {
        width: 563px;
        height: 29px;
        background-color: #FFF343;
        margin: 0 auto;
        font-family: "HelveticaNeueCyr";
        font-size: 24px;
        font-weight: 900;
        text-transform: uppercase;
        color: #000;
        text-align: center;
        padding-top: 2px;
    }

    .m_order_black {
        width: 525px;
        height: 29px;
        background-color: #000;
        margin: 0 auto;
        font-family: "HelveticaNeueCyr";
        font-size: 24px;
        font-weight: 900;
        text-transform: uppercase;
        color: #FFF;
        text-align: center;
        padding-top: 2px;
    }

    .m_order_mac {
        background: url("/images/m_order_mac.png");
        width: 445px;
        height: 251px;
        margin: 0 auto;
        position: relative;
        margin-top: 38px;
    }

    .m_order_step_box img {
        position: absolute;
        margin-top: -15px;
    }

    .m_order_step_text {
        margin-left: 202px;
        position: relative;
        color: #000;
        font-family: "HelveticaNeueCyr";
        font-size: 21px;
        font-weight: 700;
    }

    .m_order_step_text span {
        display: block;
        margin-bottom: 10px;
        margin-top: 31px;
    }

    .m_order_step_text_grey {
        margin-top: 35px;
        color: #4F4F4F;
        font-size: 21px;
        font-style: italic;
    }

    .m_order_step_text_grey span {
        font-family: HelveticaNeueCyr-BoldItalic;
        display: block;
        font-style: italic;
        font-weight: 700;
        text-transform: uppercase;
        margin-bottom: 10px;
    }

    /*---------- Order END----------*/
    /*---------- Index START----------*/
    .m_main_category_box {
        width: 100%;
        min-width: 600px;
        height: 80px;
        border-top: 6px solid #ff7500;
        -webkit-box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.35);
        -moz-box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.35);
        box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.35);
        margin: 27px 0 30px 0;
    }

    .m_main_category_title {
        color: #465CD5;
        font-family: "HelveticaNeueCyr";
        font-size: 24px;
        font-weight: 700;
        text-decoration: underline;
        text-transform: uppercase;
        text-align: center;
        margin-top: 27px;
    }

    .m_box_category {
        width: 180px;
        height: 202px;
        -webkit-box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.35);
        -moz-box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.35);
        box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.35);
        margin-top: 20px;
        position: relative;
        display: inline-block;
    }

    #m_box_main_category {
        margin-top: -20px;
        margin-bottom: 48px;
    }

    #m_box_main_category .m_box_category:nth-child(3n+2) {
        margin-left: 25px;
        margin-right: 25px;
    }

    .m_box_category_img {
        width: 180px;
        height: 134px;
    }

    .m_main_name_box {
        display: table;
        width: 180px;
        height: 68px;
    }

    .m_main_name {
        display: table-cell;
        vertical-align: middle;
        text-align: center;
        color: #465CD5;
        font-family: "HelveticaNeueCyr";
        font-size: 21px;
        font-weight: 700;
        text-decoration: underline;
    }

    .m_main_why_yellow {
        width: 512px;
        height: 29px;
        background-color: #FFF343;
        font-family: "HelveticaNeueCyr";
        font-size: 24px;
        font-weight: 900;
        color: #000;
        margin: 0 auto;
        padding-top: 2px;
        text-align: center;
    }

    .m_main_why_black {
        width: 492px;
        height: 29px;
        background-color: #000;
        font-family: "HelveticaNeueCyr";
        font-size: 24px;
        font-weight: 900;
        color: #fff;
        margin: 0 auto;
        padding-top: 2px;
        text-align: center;
    }

    .m_note_cart {
        margin: 33px 0 0 0;
    }

    .m_main_advantage {
        margin-top: 30px;
        color: #000;
        font-family: "HelveticaNeueCyr";
        font-size: 21px;
    }

    .m_main_advantage_text_box {
        margin-left: 100px;
    }

    .m_main_advantage_text_box span {
        display: block;
        margin-bottom: 8px;
        font-weight: 700;
        text-transform: uppercase;
    }

    .m_main_advantage_img {
        position: absolute;
    }

    .m_main_slider_header {
        width: 100%;
        min-width: 600px;
        height: 80px;
        border-top: 6px solid #ff7500;
        -webkit-box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.35);
        -moz-box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.35);
        box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.35);
        margin: 50px 0 -55px 0;
    }

    .m_product_box {
        width: 282px !important;
        height: 366px;
        border: 1px solid #d3d3d3;
        -webkit-box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.35);
        -moz-box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.35);
        box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.35);
        margin-top: 24px;
        float: left;
        position: relative;
    }

    .m_main_slider_slide .m_product_box:nth-child(odd) {
        margin-left: 32px;
    }

    .m_product_box_image {
        width: 282px;
        height: 210px;
    }

    .m_product_box_name {
        text-align: center;
        margin: 0 auto;
        margin-top: 14px;
        color: #000;
        font-family: "HelveticaNeueCyr";
        font-size: 21px;
        font-weight: 700;
    }

    .m_product_box_price {
        position: absolute;
        color: #000;
        font-family: "HelveticaNeueCyr";
        font-size: 21px;
        font-weight: 700;
        margin: 0 auto;
        left: 0;
        right: 0;
        bottom: 69px;
        text-align: center;
    }

    .m_product_line {
        height: 1px;
        background: #d3d3d3;
        width: 100%;
        position: absolute;
        bottom: 57px;
    }

    .m_product_button {
        background: url("/images/m_button_buy.png") 0 0 no-repeat;
        width: 159px;
        height: 38px;
        margin: 0 auto;
        left: 0;
        right: 0;
        bottom: 11px;
        position: absolute;
    }
    .m_product_button:active{
        background-position: 0 -38px;
    }

    .m_main_slider_slide {
        position: relative;
    }

    .m_product_link {
        color: #465CD5;
        font-family: "HelveticaNeueCyr";
        font-size: 24px;
        font-weight: 700;
        text-decoration: underline;
        text-transform: uppercase;
        position: relative;
        margin: 0 auto;
        text-align: center;
        margin-bottom: 30px;
        display: block;
    }

    .m_hit {
        background: url("/images/m_hit.png") 0 0 no-repeat;
        width: 204px;
        height: 56px;
        position: absolute;
        left: -16px;
        top: 159px;
    }

    .m_sale {
        background: url("/images/m_sale.png");
        width: 161px;
        height: 56px;
        position: absolute;
        left: -16px;
        top: 159px;
    }

    .m_new {
        background: url("/images/m_new.png");
        width: 144px;
        height: 145px;
        position: absolute;
        right: -16px;
        top: -16px;
    }

    .m_main_slider .slick-next {
        background: url("/images/m_slick_next.png");
        width: 31px;
        height: 35px;
        top: 8px;
        right: 50px;
        z-index: 2;
    }

    .m_main_slider .slick-next:before {
        content: '';
    }

    .m_main_slider .slick-prev {
        background: url("/images/m_slick_prev.png");
        width: 31px;
        height: 35px;
        top: 8px;
        left: 50px;
        z-index: 2;
    }

    .m_main_slider .slick-prev:before {
        content: '';
    }

    .m_main_slider div {
        outline: none;
    }

    .m_main_slider a {
        outline: none;
    }

    .m_go_article {
        margin-top: 40px;
        margin-bottom: 50px;
    }

    .m_go_article_yellow {
        position: relative;
        text-align: center;
        margin: 0 auto;
        width: 482px;
        height: 29px;
        padding-top: 2px;
        background-color: #FFF343;
        font-family: "HelveticaNeueCyr";
        font-size: 24px;
        font-weight: 900;
        color: #000;
    }

    .m_go_article_black {
        width: 425px;
        height: 31px;
        background-color: #000;
        position: relative;
        text-align: center;
        margin: 0 auto;
        padding-top: 2px;
        font-family: "HelveticaNeueCyr";
        font-size: 24px;
        font-weight: 900;
        color: #FFF;
    }

    .m_big_article_box {
        width: 600px;
        height: 425px;
        position: relative;
        margin-top: 30px;
        border-top: 6px solid #ff7500;
    }

    .m_big_article_box img {
        width: 600px;
        height: 425px;
    }

    .m_big_article_inside {
        display: block;
        padding: 14px 12px;
        width: 576px;
        height: 65px;
        background: rgba(0, 0, 0, 0.7);
        position: absolute;
        bottom: 0;
        color: #FFF;
        font-family: "HelveticaNeueCyr";
        font-size: 21px;
        font-weight: 700;
        text-decoration: underline;
    }

    .m_main_slider_box {
        min-width: 600px;
        width: 100%;
    }

    /*---------- Index END----------*/
    /*---------- Catalog START----------*/
    .m_popular_product_box {
        position: relative;
        margin-top: 24px;
        margin-bottom: 60px;
    }
    .m_dropSlide_catalog{
        margin-top: 30px;
    }
    .m_popular_product_title {
        width: 100%;
        min-width: 600px;
        height: 80px;
        border-top: 6px solid #ff7500;
        -webkit-box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.35);
        -moz-box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.35);
        box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.35);
        margin: 0px 0 12px 0;
    }

    .m_popular_product_title span {
        display: block;
        text-align: center;
        margin: 0 auto;
        margin-top: 26px;
        color: #000;
        font-family: "HelveticaNeueCyr";
        font-size: 24px;
        font-weight: 700;
        text-transform: uppercase;
    }

    .m_popular_slider .m_product_box {
        margin-left: 10px;
        margin-right: 6px;
    }

    .m_popular_slider .slick-next {
        background: url("/images/m_slick_next.png");
        width: 31px;
        height: 35px;
        top: -60px;
        right: 50px;
        z-index: 2;
    }

    .m_popular_slider .slick-next:before {
        content: '';
    }

    .m_popular_slider .slick-prev {
        background: url("/images/m_slick_prev.png");
        width: 31px;
        height: 35px;
        top: -60px;
        left: 50px;
        z-index: 2;
    }

    .m_popular_slider .slick-prev:before {
        content: '';
    }

    .m_popular_slider div {
        outline: none;
    }

    .m_popular_slider a {
        outline: none;
    }

    .m_drop_slide_box {
        width: 600px;
        position: relative;
    }

    .m_drop_slide_title {
        width: 600px;
        height: 58px;
        background-color: #2E302F;
        position: relative;
    }

    .m_drop_slide_title span {
        margin: 18px 0 0 20px;
        color: #FFF;
        display: block;
        font-family: "HelveticaNeueCyr";
        font-size: 21px;
        font-weight: 700;
    }

    .m_drop_slide_arrow {
        position: absolute;
        right: 20px;
        top: 20px;
    }

    .m_drop_slide_content {
        padding: 22px;
        position: relative;
    }

    .rotate {
        transform: rotate(0deg);
        transition: .3s;
    }

    .rotate-reset {
        transform: rotate(-90deg);
        transition: .3s;
    }

    .m_under_category {
        /* Base style */
        color: #465CD5;
        font-family: "HelveticaNeueCyr";
        font-weight: 700;
        text-decoration: underline;
        line-height: 30px;
        font-size: 21px;
    }

    .m_under_category span {
        font-size: 25px;
        text-transform: uppercase;
        line-height: 45px;
    }

    .m_some_review {
        color: #000;
        font-family: "HelveticaNeueCyr";
        font-size: 21px;
    }

    .m_catalog_filter {
        margin: 0 auto;
        margin-bottom: 60px;
        border-top: 1px solid #bebebe;
        padding-top: 20px;
        border-bottom: 1px solid #bebebe;
        padding-bottom: 20px;
        position: relative;
        width: 600px;
    }

    .m_catalog_filter_navigate {
        display: inline-block;
        margin-top: 30px;
        width: 100%;
    }

    .m_catalog_filter_button{
        width: 34px;
        height: 28px;
        background-color: #F8F8F8;
        border: 1px solid #CCC;
        color: #AAA;
        font-family: "HelveticaNeueCyr";
        font-size: 21px;
        padding-top: 6px;
        text-align: center;
        float: left;
        margin-right: 6px;
    }
    .m_catalog_filter_button a{
        color: #AAA;
        font-family: "HelveticaNeueCyr";
        font-size: 21px;
        text-decoration: none;
    }
    .m_catalog_filter_button.selected{
        background-color: #27B13E;
        color: #FFF;
        border: 1px solid #27B13E;
    }

    .m_catalog_filter_button.hidden{
        display: none;
    }
    .m_next {
        padding-top: 4px;
        height: 30px;
        background: #465cd5;
    }

    .m_current {
        background-color: #27B13E;
        color: #FFF;
        border: 1px solid #27B13E;
    }

    .m_catalog_filter_filter {
        margin: 20px 0 0 0;
        position: relative;
    }

    .m_catalog_filter_text {
        position: relative;
        float: left;
        color: #868686;
        font-family: "HelveticaNeueCyr";
        font-size: 21px;
        margin-top: 5px;
        margin-right: 10px;
    }

    #m_sort {
        width: 244px;
        height: 33px;
        border: 1px solid #d7d7d7;
        margin: 1px 0 0 4px;
        color: #868686;
        font-family: "HelveticaNeueCyr";
        font-size: 21px;
        float: left;
        outline: none;
    }

    .m_catalog_filter_list {
        margin-bottom: 35px;
    }

    .m_catalog_filter_list .m_product_box:nth-child(odd) {
        margin-right: 30px;
    }

    /*---------- Catalog END----------*/
    /*---------- Cart START----------*/
    .m_basket_title {
        margin-top: 25px;
        width: 600px;
        height: 54px;
        background-color: #FFF;
        -moz-box-shadow: 0 0 4.5px 0.6px rgba(0, 0, 0, 0.35);
        -webkit-box-shadow: 0 0 4.5px 0.6px rgba(0, 0, 0, 0.35);
        box-shadow: 0 0 4.5px 0.6px rgba(0, 0, 0, 0.35);
        color: #000;
        font-family: "HelveticaNeueCyr";
        font-size: 24px;
        font-weight: 700;
        text-transform: uppercase;
        text-align: center;
        padding-top: 26px;
        border-top: 6px solid #ff7500;
    }

    .m_basket_product {
        float: left;
        width: 279px;
        height: 487px;
        position: relative;
        margin-top: 20px;
    }

    .m_basket_product_box .m_basket_product:nth-child(odd) {
        margin-left: 40px;
    }

    .m_basket_product_img {
        width: 279px;
        height: 209px;
    }

    .m_basket_product_title {
        height: 56px;
        padding-top: 18px;
        border-bottom: 1px solid #DEDEDE;
        color: #000;
        font-family: "HelveticaNeueCyr";
        font-size: 21px;
        font-weight: 700;
        text-transform: uppercase;
    }

    .m_basket_product_count {
        height: 40px;
        padding-top: 20px;
        border-bottom: 1px solid #DEDEDE;
        color: #000;
        font-family: "HelveticaNeueCyr";
        font-size: 21px;
        position: relative;
    }

    .m_basket_product_count_minus {
        background: url("/images/m_count_minus.jpg") 0 0;
        width: 31px;
        height: 38px;
        position: absolute;
        top: 11px;
        right: 79px;
    }

    .m_basket_product_count_minus:hover {
        background-position: 0 -38px;
    }

    .m_basket_product_count_plus {
        background: url("/images/m_count_plus.jpg") 0 0;
        width: 31px;
        height: 38px;
        position: absolute;
        top: 11px;
        right: 1px;
    }

    .m_basket_product_count_plus:hover {
        background-position: 0 -38px;
    }

    .m_basket_product_count_count {
        color: #000;
        font-family: "HelveticaNeueCyr";
        font-size: 21px;
        text-align: center;
        padding-top: 8px;
        width: 37px;
        height: 28px;
        border: 1px solid #BEBEBE;
        position: absolute;
        top: 11px;
        right: 36px;
    }

    .m_basket_product_price {
        height: 40px;
        padding-top: 20px;
        color: #000;
        font-family: "HelveticaNeueCyr";
        font-size: 21px;
        text-align: left;
    }

    .m_basket_product_price span {
        color: #000;
        font-family: "HelveticaNeueCyr";
        font-size: 21px;
        font-weight: 700;
        float: right;
    }

    .m_button_product_card {
        background: url("/images/m_button_card_product.png") 0 0;
        width: 279px;
        height: 38px;
    }

    .m_button_product_card:hover {
        background-position: 0 -38px;
    }

    .m_button_delete_from_basket {
        background: url("/images/m_button_det_from_basket.png") 0 0;
        width: 279px;
        height: 38px;
        margin-top: 5px;
    }

    .m_button_delete_from_basket:hover {
        background-position: 0 -38px;
    }

    .m_summ_basket_box {
        height: 40px;
        padding-top: 20px;
        border-bottom: 1px solid #dedede;
        border-top: 1px solid #dedede;
        text-align: center;
        color: #000;
        font-family: "HelveticaNeueCyr";
        font-size: 24px;
        font-weight: 700;
        float: left;
        width: 600px;
        margin-top: 20px;
    }

    .m_summ_basket_box span {
        text-transform: uppercase;
    }

    .m_notif_basket {
        height: 50px;
        border-bottom: 1px solid #dedede;
        border-top: 1px solid #dedede;
        text-align: center;
        width: 600px;
        float: left;
        padding-top: 10px;
        color: #4F4F4F;
        font-family: "HelveticaNeueCyr";
        font-size: 17px;
    }

    .m_promo {
        display: none;
        border: 2px solid #e2e2e2;
        height: 36px;
        width: 180px;
        float: left;
        padding: 0px 0 0 16px;
        color: #000;
        font-size: 16px;
        outline: none;
        margin-top: 20px;
    }

    .m_promo_success {
        display: none;
        height: 40px;
        width: 83px;
        background: #e2e2e2;
        border: none;
        float: left;
        color: #000;
        font-size: 16px;
        cursor: pointer;
        margin-top: 20px;
    }

    .m_i_have_promo {
        color: #2D3C8D;
        font-family: "HelveticaNeueCyr";
        font-size: 21px;
        font-weight: 700;
        text-align: center;
        border-bottom: dashed;
        width: 235px;
        margin: 0 auto;
        margin-top: 20px;
    }

    .m_promo_cod_box {
        width: 284px;
        margin: 0 auto;
    }

    .fl {
        float: left;
    }

    .m_button_go_oformlenie {
        background: url("/images/m_go_oformlenie.png") 0 0;
        width: 584px;
        height: 53px;
        margin: 0 auto;
        margin-top: 20px;
        margin-left: 8px;
        float: left;
        -moz-box-shadow: 0 0 20.5px 2.5px rgba(0, 0, 0, 0.51);
        -webkit-box-shadow: 0 0 20.5px 2.5px rgba(0, 0, 0, 0.51);
        box-shadow: 0 0 20.5px 2.5px rgba(0, 0, 0, 0.51);
    }

    .m_button_go_oformlenie:hover {
        background-position: 0 -53px;
    }

    .m_we_recomended_box {
        background: #f3f4f8;
        width: 100%;
        min-width: 600px;
        height: 370px;
        margin-top: 25px;
    }

    .m_we_recomended_title {
        color: #000;
        font-family: "HelveticaNeueCyr";
        font-size: 21px;
        font-weight: 700;
        text-transform: uppercase;
        text-align: center;
        margin-top: 20px;
        margin-bottom: 50px;
    }

    .m_we_recomended_slider_box {
        width: 228px;
        height: 249px;
    }

    .m_we_recomended_slider_image_box {
        width: 229px;
        height: 174px;
        background-color: #FFF;
        border: 1px solid #AAA;
        position: relative;
        margin: 0 auto;
    }

    .m_we_recomended_slider_img {
        margin: 0 auto;
        margin-top: 15px;
        width: 194px;
        height: 145px;
    }

    .m_we_recomended_slider_name {
        color: #000;
        font-family: "HelveticaNeueCyr";
        font-size: 21px;
        font-weight: 700;
        width: 231px;
        margin: 0 auto;
        padding-top: 20px;
    }

    .m_we_recomended_slider .slick-next {
        background: url("/images/m_we_recomended_slider_arrow.png");
        width: 38px;
        height: 53px;
        top: -83px;
        right: 0;
        z-index: 2;
    }

    .m_we_recomended_slider .slick-next:before {
        content: '';
    }

    .m_we_recomended_slider .slick-prev {
        background: url("/images/m_we_recomended_slider_arrow.png");
        width: 38px;
        height: 53px;
        top: -83px;
        left: 0;
        z-index: 2;
        transform: scaleX(-1);
    }

    .m_we_recomended_slider .slick-prev:before {
        content: '';
    }

    .m_ordering {
        margin-top: 20px;
        background: #f3f4f8;
        position: relative;
        min-width: 600px;
        margin-bottom: 60px;
    }

    .m_ordering_line_1 {
        top: 60px;
        position: absolute;
        height: 2px;
        border-top: 1px solid #cbced7;
        border-bottom: 1px solid #e5e6ed;
        width: 100%;
        min-width: 600px;
    }

    .m_ordering_line_2 {
        top: 228px;
        position: absolute;
        height: 2px;
        border-top: 1px solid #cbced7;
        border-bottom: 1px solid #e5e6ed;
        width: 100%;
        min-width: 600px;
    }

    .m_ordering_line_3 {
        top: 732px;
        position: absolute;
        height: 2px;
        border-top: 1px solid #cbced7;
        border-bottom: 1px solid #e5e6ed;
        width: 100%;
        min-width: 600px;
    }

    .m_ordering_title {
        color: #000;
        font-family: "HelveticaNeueCyr";
        font-size: 21px;
        font-weight: 700;
        text-transform: uppercase;
        height: 40px;
        padding-top: 20px;
    }

    .m_ordering_info {
        height: 110px;
        padding-top: 20px;
        color: #000;
        font-family: "HelveticaNeueCyr";
        font-size: 21px;
    }

    .m_ordering_personal_data {
        height: 61px;
        padding-left: 44px;
        color: #000;
        font-family: "HelveticaNeueCyr";
        font-size: 21px;
        font-weight: 700;
        text-transform: uppercase;
        position: relative;
    }

    .m_ordering_personal_data img {
        position: absolute;
        margin-left: -44px;
    }

    .m_red_star {
        background: url("/images/m_red_star.png") 0 0 no-repeat;
        width: 6px;
        height: 6px;
        position: absolute;
        z-index: 1;
    }

    .m_name_red_star {
        top: 16px;
        left: 160px;
    }

    .m_form_name_bgr {
        background: url("/images/m_form_img_name.png") 0 0 no-repeat;
        width: 57px;
        height: 50px;
        margin-bottom: 20px;
        position: relative;
    }

    .m_form_name {
        width: 528px;
        height: 46px;
        margin-left: 50px;
        border: 1px solid #aaaaaa;
        font-size: 18px;
        color: #000;
        padding-left: 20px;
        outline: none;
    }

    .m_ordering_form input::-webkit-input-placeholder {
        color: #000000;
    }

    .m_ordering_form textarea::-webkit-input-placeholder {
        color: #000000;
    }

    .m_phone_red_star {
        top: 16px;
        left: 188px;
    }

    .m_form_phone_bgr {
        background: url("/images/m_form_img_phone.png") 0 0 no-repeat;
        width: 57px;
        height: 50px;
        margin-bottom: 20px;
        position: relative;
    }

    .m_form_phone {
        width: 528px;
        height: 46px;
        margin-left: 50px;
        border: 1px solid #aaaaaa;
        font-size: 18px;
        color: #000;
        padding-left: 20px;
        outline: none;
    }

    .m_email_red_star {
        top: 16px;
        left: 158px;
    }

    .m_form_email_bgr {
        background: url("/images/m_form_img_email.png") 0 0 no-repeat;
        width: 57px;
        height: 50px;
        margin-bottom: 20px;
        position: relative;
    }

    .m_form_email {
        width: 528px;
        height: 46px;
        margin-left: 50px;
        border: 1px solid #aaaaaa;
        font-size: 18px;
        color: #000;
        padding-left: 20px;
        outline: none;
    }

    .m_form_text_bgr {
        background: url("/images/m_form_img_text.png") 0 0 no-repeat;
        width: 57px;
        height: 50px;
        margin-bottom: 20px;
        position: relative;
    }

    .m_form_text {
        width: 528px;
        margin-left: 50px;
        border: 1px solid #aaaaaa;
        font-size: 18px;
        color: #000;
        padding-left: 20px;
        padding-top: 15px;
        height: 134px;
        resize: none;
        outline: none;
    }

    .m_warning {
        margin-top: 120px;
        margin-left: 70px;
        font-family: "HelveticaNeueCyr";
        font-size: 18px;
        color: #000;
    }

    .m_warning span {
        color: #e62d2d;
    }

    .m_ordering_logistic {
        height: 41px;
        padding-left: 44px;
        color: #000;
        font-family: "HelveticaNeueCyr";
        font-size: 21px;
        font-weight: 700;
        text-transform: uppercase;
        position: relative;
        margin-top: 40px;
    }

    .m_ordering_logistic img {
        position: absolute;
        margin-left: -44px;
    }

    .m_radio_box {
        margin-left: 30px;
    }

    .m_radio input[type="radio"] {
        display: none;
    }

    .m_radio input[type="radio"] + p {
        margin-top: 26px;
    }

    .m_radio input[type="radio"] + p span {
        display: inline-block;
        width: 40px;
        height: 40px;
        margin: -1px 4px 0 0;
        vertical-align: middle;
        cursor: pointer;
        -moz-border-radius: 50%;
        border-radius: 50%;
    }

    .m_radio input[type="radio"] + p span {
        background: url("/images/m_radio_button.png") 0 -40px;
    }

    .m_radio input[type="radio"]:checked + p span {
        background: url("/images/m_radio_button.png") 0 0px;
    }

    .m_text_inp_moss {
        position: absolute;
        color: #000;
        font-size: 21px;
        font-weight: 700;
        top: -1px;
        left: 54px;
    }

    .m_text_inp_moss span {
        font-size: 19px;
    }

    .m_text_inp_sam {
        position: absolute;
        color: #000;
        font-size: 21px;
        font-weight: 700;
        top: 63px;
        left: 54px;
    }

    .m_text_inp_sam span {
        font-size: 19px;
    }

    .m_text_inp_tk {
        position: absolute;
        color: #000;
        font-size: 21px;
        font-weight: 700;
        top: 125px;
        left: 54px;
    }

    .m_text_inp_tk span {
        font-size: 19px;
    }

    .m_button_zakaz {
        background: url("/images/m_button_zakaz.png") 0 0;
        width: 584px;
        height: 53px;
        margin: 0 auto;
        margin-top: 40px;
        margin-bottom: 70px;
        /*float: left;*/
        -moz-box-shadow: 0 0 20.5px 2.5px rgba(0, 0, 0, 0.51);
        -webkit-box-shadow: 0 0 20.5px 2.5px rgba(0, 0, 0, 0.51);
        box-shadow: 0 0 20.5px 2.5px rgba(0, 0, 0, 0.51);
        display: block;
    }

    .m_ty_box {
        background: url("/images/m_ty.jpg");
        width: 583px;
        height: 308px;
        position: relative;
    }

    .m_ty_close {
        background: url("/images/m_ty_close.png") 0 0;
        width: 39px;
        height: 39px;
        position: absolute;
        right: 0;
        top: -20px;
    }

    .m_ty_close:hover {
        background-position: 0 -39px;
    }

    /*---------- Cart END----------*/
    /*---------- Product END----------*/
    a.fancybox {
        position: relative;
        display: block;
    }

    .m_fliper {
        background: url('/images/flip.png') center center no-repeat;
        width: 53px;
        height: 53px;
        position: absolute;
        margin: auto;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        display: none;
    }

    .mb_33px {
        margin-bottom: 33px;
    }

    a.fancybox:hover .m_fliper {
        display: block;
    }

    .m_product_images {
        margin-top: 30px;
    }

    .m_tree_product_box {
        float: left;
        width: 121px;
    }

    .m_tree_product_box a img {
        width: 117px;
        height: 88px;

        border: 1px solid #d7d7d7;
    }

    .m_big_product_image {
        width: 459px;
        height: 341px;
        float: right;
    }

    .m_big_product_image a img {
        width: 459px;
        height: 341px;
    }

    /*mobile fancybox*/
    .fancybox-close {
        background: url("/images/m_fancybox_close.png") 0 0;
        width: 56px !important;
        height: 57px !important;
        visibility: visible;
    }

    .fancybox-skin {
        padding-bottom: 100px !important;
    }

    .fancybox-next span {
        background: url("/images/m_fancybox_nav.png") 0 0;
        width: 68px;
        height: 63px;
        visibility: visible;
        margin-top: 105%;
        margin-right: 10%;
    }

    .fancybox-next span:hover {
        background-position: 0px -63px;
    }

    .fancybox-prev span {
        background: url("/images/m_fancybox_nav.png") 0 0;
        width: 68px;
        height: 63px;
        visibility: visible;
        transform: scaleX(-1);
        margin-top: 105%;
        margin-left: 10%;
    }

    .fancybox-prev span:hover {
        background-position: 0px -63px;
        transform: scaleX(-1);
    }

    .fancybox-overlay {
        background: url("/images/fancybox_overlay.png") repeat;
    }

    /*mobile fancybox*/
    .m_hit_big {
        top: 288px;
    }

    .m_product_name {
        height: 45px;
        padding-left: 10px;
        color: #000;
        font-family: "HelveticaNeueCyr";
        font-size: 24px;
        font-weight: 700;
    }

    .m_price_count_pay {
        height: 69px;
        border-top: 1px solid #bebebe;
        border-bottom: 1px solid #bebebe;

    }

    .m_price {
        font-family: "HelveticaNeueCyr";
        font-weight: 700;
        color: #000;
        font-size: 24px;
        float: left;
        margin-top: 24px;
        margin-left: 10px;
    }

    .m_price spanChest {
        color: #000;
        font-size: 17px;
        text-decoration: line-through;
    }

    .m_price red {
        color: #F00;
        font-size: 24px;
    }

    .m_pay {
        background: url("/images/m_button_buy.png") 0 0 no-repeat;
        width: 159px;
        height: 38px;
        margin-top: 20px;
        float: right;
    }

    .m_count {
        position: relative;
        float: left;
        margin-top: 20px;
        margin-left: 70px;
    }

    .m_count_minus {
        background: url("/images/m_count_minus.jpg") 0 0;
        width: 31px;
        height: 38px;
        float: left;
        float: left;
    }

    .m_count_count {
        color: #000;
        font-family: "HelveticaNeueCyr";
        font-size: 21px;
        text-align: center;
        padding-top: 8px;
        width: 37px;
        height: 28px;
        border: 1px solid #BEBEBE;
        float: left;
        margin-left: 5px;
    }

    .m_count_plus {
        background: url("/images/m_count_plus.jpg") 0 0;
        width: 31px;
        height: 38px;
        float: left;
        margin-left: 5px;
    }

    .m_description {
        margin-top: 24px;
        color: #000;
        font-family: "HelveticaNeueCyr";
        font-size: 21px;
        margin-bottom: 30px;
    }

    .m_description span {
        color: #000;
        font-family: "HelveticaNeueCyr";
        font-size: 21px;
        font-weight: 700;
        margin-left: 40px;
        display: block;
        margin-top: 4px;
        margin-bottom: 22px;
    }

    .m_description img {
        position: absolute;
    }

    .ml_60px {
        margin-left: 60px !important;
    }

    .m_drop_1 {
        position: absolute;
        margin: 19px 0 0 18px;
    }

    .m_drop_2 {
        position: absolute;
        margin: 18px 0 0 17px;
    }

    .m_drop_3 {
        position: absolute;
        margin: 18px 0 0 13px;
    }

    .m_drop_4 {
        position: absolute;
        margin: 14px 0 0 15px;
    }

    .m_drop_5 {
        position: absolute;
        margin: 20px 0 0 19px;
    }

    .m_drop_6 {
        position: absolute;
        margin: 22px 0 0 11px;
    }

    .m_drop_slide_product {
        width: 600px;
        position: relative;
        margin-bottom: 30px;
    }
    .m_drop_slide_product a img{
        max-width: 100%;
    }

    .m_product_info .m_drop_slide_title {
        margin-top: 1px;
    }

    .choise_color_colors_title {
        margin: 24px 0 17px 2px;
        color: #010101;
        font-family: "HelveticaNeueCyr";
        font-size: 21px;
        font-weight: 700;
    }
    .choise_color_colors_title_fasad {
        margin: 24px 0 17px 2px;
        color: #010101;
        font-family: "HelveticaNeueCyr";
        font-size: 21px;
        font-weight: 700;
    }
    .box_colors {
        width: 100%;
        position: relative;
    }
    .box_color {
        width: 68px;
        height: 68px;
        background: white;
        float: left;
        padding: 8px;
        margin: 0 8px;
        cursor: pointer;
    }
    .box_color_fasad {
        width: 68px;
        height: 68px;
        background: white;
        float: left;
        padding: 8px;
        margin: 0 8px;
        cursor: pointer;
    }
    .chic {
        box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.75) !important;
    }
    .color {
        width: 68px;
        height: 68px;
    }
    .m_choise_size_title{
        margin: 24px 0 17px 2px;
        color: #010101;
        font-family: "HelveticaNeueCyr";
        font-size: 21px;
        font-weight: 700;
        display: block;
    }
    #m_size{
        margin: 0 auto;
        width: 600px;
        height: 54px;
        border: 1px solid #cccccc;
        border-radius: 10px;
        padding-left: 10px;
        color: #000;
        font-family: "HelveticaNeueCyr";
        font-size: 21px;
    }

    .m_product_info .ui-state-hover, .ui-widget-content .ui-state-hover, .ui-widget-header .ui-state-hover, .ui-state-focus, .ui-widget-content .ui-state-focus, .ui-widget-header .ui-state-focus {
        border: 1px solid #d1d1d1;
        background: #FFFFFF;
        color: #000;
        font-family: "HelveticaNeueCyr";
        border-radius: 10px;
        font-size: 21px;
        font-weight: 100;
        outline: none;
    }

    .m_product_info .ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default {
        border: 1px solid #cccccc;
        background: #FFFFFF;
        color: #000;
        font-family: "HelveticaNeueCyr";
        font-size: 21px;
        font-weight: 100;
    }

    .m_product_info .ui-icon{
        background: url("/images/m_ui_triangle.png");
        width: 17px;
        height: 15px;
    }

    .add_nth .m_product_box:nth-child(odd){
        margin-right: 30px;
    }
    .m_dostavka_is_borka{
        margin-top: 20px;
        color: #000;
        font-family: "HelveticaNeueCyr";
        font-size: 21px;
    }
    .m_haracter{
        color: #000;
        font-family: HelveticaNeueCyr-Roman;
        font-size: 16px;
        margin-top: 20px;
    }
    .character {
        float: left;
        width: 150px;
        height: 190px;
        position: relative;
        margin-bottom: 20px;
        margin-left: 10px;
        margin-right: 10px;
    }
    .character div {
        text-align: center;
        margin-top: 10px;
    }
    .character a img {
        width: 150px;
        position: absolute;
        /* bottom: 0; */
    }
    .m_product_info{
        margin-bottom: 60px;
    }
    .m_all_elements .m_product_box:nth-child(even){
        margin-left: 30px;
    }
    /*---------- Product END----------*/

    /*drawer*/
    .drawer-hamburger {
        top: 7px;
        margin-right: 33px;
    }
    .drawer-hamburger-icon, .drawer-hamburger-icon:before, .drawer-hamburger-icon:after {
        height: 3px;
        width: 100%;
        border-radius: 1px;
        background-color: rgba(255, 118, 0, 0);
        -webkit-transition: all 0.4s cubic-bezier(0.19, 1, 0.22, 1);
        -o-transition: all 0.4s cubic-bezier(0.19, 1, 0.22, 1);
        transition: all 0.4s cubic-bezier(0.19, 1, 0.22, 1);
    }
    .drawer-default{
        background-color: #FFFFFF;
        border-left: 6px solid #ff7500;
    }
    .drawer-default .drawer-brand a {
        padding: 20px 15px;
        color: #000;
        font-family: "HelveticaNeueCyr";
        font-size: 21px;
        font-weight: 700;
        border-bottom: 1px solid #e5e5e5;
    }
    .drawer-default .drawer-menu-item {
        padding: 20px 15px 0;
        color: #465CD5;
        font-family: "HelveticaNeueCyr";
        font-size: 22px;
        font-weight: 700;
        text-decoration: underline;
        text-transform: uppercase;
    }
    .drawer-default .drawer-menu-item a {
        color: #465CD5;
    }
    .m_dawer_close{
        position: absolute;
        right: 28px;
    }
    .m_menu_subparagraph{
        padding: 6px 15px 0!important;
    }
    .m_menu_subparagraph a{
        text-transform: lowercase;
        text-transform: capitalize;
    }
}


#product_id span {
    color: #AE0000;
}
.errorMessage{
    width: 600px;
}

/* для модальных оконо с десктопной версии */
.box-modal {
    position: relative;
    background: #fff;
    /* min-height: 1000px; */
}
.box-modal {
    position: relative;
    background: #fff;
    /* min-height: 1000px; */
}
.phone_modal_close {
    background: url("/images/modal_close.png");
    width: 31px;
    height: 31px;
    position: absolute;
    top: 8px;
    right: 8px;
    cursor: pointer;
}
.phone_modal_title {
    color: #000;
    font-size: 18px;
    font-weight: 700;
    text-transform: uppercase;
    margin: 0 auto;
    margin-top: 50px;
    margin-bottom: 30px;
    text-align: center;
}
.phone_modal_under_title {
    color: #000;
    font-size: 16px;
    font-weight: 700;
    text-align: center;
    margin-bottom: 20px ;
}
.phone_modal form> div {
    margin-left: 57px;
}
.form_name_bgr {
    background: url("/images/input_name_bgr.png") 0 0 no-repeat;
    width: 57px;
    height: 50px;
    margin-bottom: 18px;
    position: relative;
}
.form_name {
    width: 300px;
    height: 46px;
    margin-left: 50px;
    border: 1px solid #aaaaaa;
    font-size: 18px;
    color: #000;
    padding-left: 20px;
    outline: none;
}
.errorMessage {
    color: red;
    font-size: 12px;
    width: 475px;
}
.form_phone_bgr {
    background: url("/images/input_phone_bgr.png") 0 0 no-repeat;
    width: 57px;
    height: 50px;
    margin-bottom: 18px;
    position: relative;
}
.form_email_bgr {
    background: url("/images/input_email_bgr.png") 0 0 no-repeat;
    width: 57px;
    height: 50px;
    margin-bottom: 18px;
    position: relative;
}
.phone_submit {
    background: url("/images/phone_send.png")0 0;
    width: 475px;
    height: 50px;
    border: none;
    display: block;
    position: relative;
    margin: 0 auto;
    margin-top: 18px;
    cursor: pointer;
}

.m_box_all_elements > .m_product_box:nth-child(even) {
    margin-left: 32px;
}