.searchform {position: relative;}
.hide_search {display: none; font-size: 14px; width: 374px; position: absolute; z-index: 100; background: white; margin-left: -2px; border: 1px solid #aaa; margin-top: 45px;}
.hide_search a {display: block; border-top: 1px solid #aaa; padding: 5px 10px; text-decoration: none; color: #aaa;}
.hide_search a:hover {background: #aaa; color: #f6f6f6;}
.hide_search div {padding: 5px 10px; color: #aaa;}